.steps{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li{
            margin-bottom: 15px;
            position: relative;
            display: flex;
            align-items: center;
            margin-#{$end-direction}: 4vw;
            &::after{
                position: relative;
                content: " ";
                display: block;
                width: 4vw;
                border-top: 2px dotted #888888;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            .rad-s{
            width: 30px;
            height: 30px;
            background: #C9C9C9;
            color: #DEDEDE;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 1.1rem;

            }
            .step-text{
                margin: 0 10px;
                text-transform: capitalize;
                color: #A0A0A0;

            }
            &.active{
                .rad-s{
                    background: #222222;
                    color: $whiteColor;
                }
                .step-text{
                    color: $color;
                }

            }
        }
    }
}
/*start billing-details*/
.details{
    margin: 30px 0;
    .b-sub{
        padding: 6px 30px;
    }
}
.billing-details{
h5{
    text-transform: capitalize;
    margin-bottom: 30px;
}

}
.form-item-input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &>label{
        text-transform: capitalize;
        color: #888888;
        margin-bottom: 10px;
        span{
            color: #DC0707;
        }
    }
    input{
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: 0;
        padding: 0 10px;
        &:focus {
            outline: 1px solid #FED700;
        }
    }
    select{
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: 0;
        padding: 0 10px;
    }
}
.form-item-input input[type="radio"]{
    height: auto;
    width: auto;
    border: 0;
    padding: 0 10px;
    margin: 0 10px;
}
.form-item-input .radio{

}
.parg{
    p{
        color: #888888;
        margin: 20px 0 40px 0;
    }
}
.check-box{
    padding:  0 15px;
    margin-bottom: 20px;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{

            margin-#{$end-direction}:20px ;
            img{
                margin: 0 10px;
            }
        }
    }
}
/*end billing-details*/
/*start summary*/
.summary{
    background: $whiteColor;
    padding: 20px 0;
    box-shadow: 0 0 7px 0 #00000045;
    border-radius: 10px;
    h6{
        padding: 0 20px;
        color: $color;
        font-weight: 600;
        margin-bottom: 30px;
    }

}
.item-o{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
    .item{
        color: #888888;
    }
    .value{
        color: $color;
        font-weight: 600;
    }
    .value-r{
        color: #DC0707;
        font-weight: 600;
        text-transform: capitalize;
    }
}
.free-dis{
    padding: 0 20px;
    font-size: .9rem;
    color:#888888;
    display: flex;
    flex-direction: row-reverse;
}
.form-summary{
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0px;
    input{
        height: 40px;
        background:#F3F3F3 ;
        width: calc(100% - 100px);
        border: 0;
        border-radius: 8px 0 0 8px;
        padding: 0 10px;
        &:focus {
            outline: 1px solid #FED700;
        }
    }

    button{
        width: 100px;
        height: 40px;
        background: $color;
        border: 0;
        color: $whiteColor;
        border-radius: 0 8px 8px 0;

    }
}
.subtotal{
    margin-top: 10px;
    border-top: 1px solid #888888;
    padding-top: 15px;
}
/*end summary*/
/* start step-done*/
.step-done{
    padding: 30px 0;
    background: $whiteColor;
    border-radius: 10px;
    margin-bottom: 40px;
}
.done-one-top{
    text-align: center;
    img{
        margin-bottom: 20px;
    }
    h6{
        font-weight: 600;
        color: $color;
        text-align: center;
        margin-bottom: 15px;
     }
     .order-on{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #888888;
        padding-bottom: 20px;
        span{
            color:#888888 ;
        }
        .value{
            color: $color;
        }
     }
}
.done-one-bottom{
    padding-top: 20px;
    .total{
        padding: 20px 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            color: #888888;
        }
        .value{
            color: $color;
            font-weight: 600;
        }
    }
}
.billing{
    display: flex;

}
.text-billing{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    h6{
        color: $color;
        margin-bottom: 15px;
    }
    span{
        color:#888888;
        margin-bottom: 10px;
    }
}
.button-bla{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    button{
        border: 0;
        background: $color;
        color: $whiteColor;
        padding: 5px 80px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.shipping-d{
    h4{
        margin: 30px 0;
        color: $color;
    }
    .b-login{
        margin: 40px 0 ;
    }
}
.shipping-item{
    cursor: pointer;
    padding: 20px;
    border: 1px solid #888888;
    position: relative;
    margin-bottom: 20px;
    transition: all .5s;
    .shipping-item-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        h5{
            color: $color;
            font-weight: 600;
        }

    }
    p{
        color: #888888;
        font-weight: 600;
        margin-bottom: 10px;
    }
    span{
        display: block;
        color: #888888;
        margin-bottom: 10px;
    }
    &.active{
        border: 1px solid #FEBF00;
        background: #F4F0D8;
        &::before{
            content: " ";
            display: block;
            width: 30px;
            height: 30px;
            background: #000;
            position: absolute;
            top: -10px;
            #{$end-direction}:-10px;
            background: url(../../img/back-ar.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.add-new{
    margin-bottom: 20px;
    cursor: pointer;
    background: #E4E2E2;
    min-height: 215px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        margin-bottom: 10px;
    }
    span{
        font-weight: 600;
        color: #888888;
    }
}
.vise-item{
    cursor: pointer;
    padding: 25px;
    border: 1px solid #888888;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .5s;
    img{
        margin-bottom: 10px;
        width: 50px;
        height: 40px;
    }
    span{
        color: #888888;
    }
    &.active{
        border: 1px solid #FEBF00;
        background: #F4F0D8;
        &::before{
            content: " ";
            display: block;
            width: 30px;
            height: 30px;
            background: #000;
            position: absolute;
            top: -10px;
            #{$end-direction}:-10px;
            background: url(../../img/back-ar.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.order-summary{
    background: $whiteColor;
    border-radius: 8px;
    padding: 10px 20px 20px;
    .order-summary-head{
        padding: 20px;
        h5{
            color: $color;
            text-transform: capitalize;
            margin-bottom: 15px;
        }

    }
}
.os-item{

}
.os-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &>span{
         color: $color;
         font-weight: 600;
    }
}
.os-item-img{
    display: flex;

}
.os-img{
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50px;
        height: 50px;
        margin: auto;
    }
}
.os-text{
    padding: 5px 10px;
    h6{
        color: $color;
    }
    .information{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        h6{

        }
        span{
          color: #888888;
        }
      }
}
.order-summary-body{
    border-top: 1px solid #E4E2E2;
    padding: 20px;
    .item-o{
        padding: 0;
        &:last-child{
            margin: 0;
        }
    }
.value-g{
    color: #00B12A;
    font-weight: 600;
}
}
.order-summary-footer{
    border-top: 1px solid #E4E2E2;
    padding: 20px;
    .item-o{
        padding: 0;
        margin: 0;
    }
}
/*end step-done*/
#visa_type_ajax{
    .custom-control-label{
        padding-right: 18px;
    }
    .custom-control-label::before {
        position: absolute;
        top: .25rem;
        right: -0.5rem;
    }
}
