// pagniation
    .pagniation{
        padding:10px 0 20px 0;
        display: flex;
        justify-content: center;
        background: #fff;

        ul{
            display: flex;
            align-items: center;
            li{
                line-height: 33px;
                border: 1px solid #D9D9D9;
                width: 40px;
                height: 33px;
                text-align: center;
                cursor: pointer;
                color: #888888;
                transition: all .4s;
                &.active{
                    background: $main-color;
                    color: #222222;
                    button{
                        svg{
                            fill: #222222;
                        }
                    }
                }
                &:hover{
                    background: $main-color;
                    color: #222222;
                    button{
                        svg{
                            fill: #222222;
                        }
                    }
                }
                button{
                    box-shadow:  0 0 0 0 !important;
                    cursor: pointer;
                    border: 0;
                    background: transparent;
                    width: 100%;
                    height: 100%;
                transition: all .4s;

                    svg{
                        width: 15px;
                        height: 15px;
                        fill: #888888;
                transition: all .4s;

                    }
                }
            }
        }
    }
// pagniation
/* start shopping-nav */
 .shopping-nav{
     background: $main-color;
     padding:8px 10px;
     .link-offer{
         flex-grow: 1;
         text-align: center;
         span{
             color: $color;
         }
     }
    .shopping-center{
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 14px;
        .link-login{
            display: flex;
            align-items: center;
            justify-content: space-between;

                span{
                    cursor: pointer;
                    svg{
                    fill: $color;
                    width:12px;
                    height: 12px;
                }
            }

        }
    }
 }
 .language{
     svg{
         width: 25px;
         height: 25px;
         fill: $color;
     }
 }
 .log-sign{
     text-transform: capitalize;
     a{
         color: $color;
         font-weight: 600;
     }
 }
/* end shopping-nav */

/* start product-list*/
.product-list{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    #{$end-direction}:0;
    top: 0;
    z-index: 55;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    .p-list{
        width: 320px;
        height: 100%;
        background: #f7f7fa;
        position: absolute;
        #{$end-direction}: -320px;
        top: 0;
       transition: all .5s;
    }
}
.product-list-show{
    visibility: visible;
    opacity: 1;
    .p-list{
        #{$end-direction}: 0px;
    }
}
.product-list-item{
    background: $whiteColor;
    padding: 10px;
    box-shadow: 1px 1px 8px 0px #ccc8c8;
    margin-bottom: 15px;
}
.img-info-product{
    display: flex;
    .img-p-prod{
        width: 150px;
        margin-#{$end-direction}:10px;
        margin-bottom: 15px;
    }
    .img-p-info{
        h6{
            color: $color;
        }
    }
}
.img-p-info-add{
    display: flex;
    align-items: center;
    span{
        color: #888888;
        font-size: .8rem;
    }
    img{
        width: 25px;
    }
}
.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        color: $color;
        font-weight: 600;
        font-size: .8rem;
        &:nth-child(1){
            text-transform: capitalize;
        }
        &:nth-child(2){
            text-transform: uppercase;
        }
    }
}
.cart-p-button{
    display: flex;
    align-items:center;
    margin: 15px 0;
    button{
        border: 0;
        outline: 0;
        cursor: pointer;
    }
    .cart-buy{
        background: $main-color;
        color: $color;
        font-size: .8rem;
        padding: 10px 5px;
        flex-grow: 1;
        margin-#{$end-direction}: 10px;
        text-align: center;
        text-transform: capitalize;
    }
    .cart-buy-fill{
        background:lighten($main-color, 40%);
        border: 2px solid $main-color;
        color: $color;
        font-size: .8rem;
        padding: 8px 3px;
        flex-grow: 1;
        text-align: center;
        text-transform: capitalize;
    }
}

/*end product-list*/
/*start nav bar*/
nav{
    padding:10px 0;
    background: $whiteColor;
    position: relative;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.burger{
    margin:  0 20px;
    cursor: pointer;
}
// .mega-menu{
//     position: absolute;
//     z-index: 99;
//     top: 47px;
//     background: #00000057;
//     left: 0px;
//     right: 0;
//     width: calc(100vw - 18px);
//     height: 100vh;


// }
.nm-icon{
    cursor: pointer;
    &:hover{
        .mega-menu-links{
            opacity: 1;
            top: 47px;
            visibility:visible;
        }
    }
}
.mega-menu-links{
    position: absolute;
    top: 40px;
    right: 0;
    width: 400px;
    background: #F5F5F5;
    padding: 20px;
    z-index: 100;
    border-radius: 0 0 5px 5px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    box-shadow: 0px 3px 14px -8px #33333347;
}


[dir=ltr] .mega-menu-links {
    left:2px !important;
    right: auto !important;
}

.mega-menu-body{
    ul{
        width: 200px;
        li{
            a{
                color: $color;
                transition: all .3s;
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
}
.sub-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo-form{
    margin-#{$start-direction}: 2vw;
    form{
        display: flex;
        input{
            background: #F3F3F3;
            border: 0;
            height: 40px;
            border-radius: 5px 0 0 5px;
            padding: 0 10px;

            &:focus{
                outline: 1px solid $main-color;


            }
        }
        button{
            width: 45px;
            height: 40px;
            border: 0;
            background: $main-color;
            cursor: pointer;
            border-radius:0 5px 5px 0;
            svg{
                path{
                    fill: $main-text;
                }
            }
        }
    }
}
.nav-logo-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h2{
        font-size: 30px;
        font-weight: bold;
        color: #222222;
        img{
            width: 260px;
        }
        span{
            background: #FEBF00;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}
.nav-info{
   ul{
    display: flex;
    align-items: center;
    li{
        position: relative;
        margin-#{$end-direction}:2vw;
        cursor: pointer;
    }
   }
}
.say-hello{
    display: flex;
    &::after{
        display: none;
    }
}
.icon-hello{
    cursor: pointer;
    display: flex;
    align-items: center;
    img{
        &:first-child{
            width: 25px;
        }
        &:last-child{
            display: none;
        }
    }
    span{
        margin: 0 5px;
    }
}
.heart-icon{
    img{
        width: 25px;
    }
    span{
        color: $main-text;
    }
}
.shop-order{
    display: flex;
    align-items: center;
    span{
        margin: 0 8px;
        font-weight: 600;
        color: #222222;
    }
}
.icon-order{
    position: relative;
    width: 30px;
    height: auto;
    img{
        width: 32px;
    }
    span{
        width: 20px;
        height: 20px;
        background: $main-color;
        color: $main-text;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        #{$end-direction}: 0;
        border-radius: 50%;
        font-size: .8rem;
    }
}
.heart-icon{
    width: 30px;
    height: auto;
    position: relative;
    img{
        width: 32px;
    }
    span{
        width: 20px;
        height: 20px;
        background: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        #{$end-direction}: 0;
        border-radius: 50%;
        font-size: .8rem;
    }
}
/*end nav bar*/

.nav-menu{

    background: $whiteColor;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    .nm-icon{
        width: 250px;
        background: $main-color;
        padding:11px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .open-menu{
            cursor: pointer;
            color: $main-text;
            img{

            }
            span{
                font-weight:600;
                margin-left: 7px;
            }

        }

    }
}
.nm-text{
    padding:  10px;
    ul{
        display: flex;
        align-items: center;
        li{
            margin-#{$end-direction}: 1.5vw;
            a{
                color: $color;
                font-weight: 500;
            }
        }
    }
}
/*start slider*/
.slider-baner{
    // .owl-carousel .owl-stage-outer{
    //     height: 35vw;
    //     .content-baner{
    //         height: 35vw;
    //         img{
    //             height: 100%;
    //         }
    //     }
    // }

    .owl-nav{
        button{
            width: 50px;
            height: 50px;
            background: #222222 !important;
            border-radius: 50% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            zoom: .7;
        }
    }
    .owl-prev{
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .owl-next{
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translatex(-50%);
        button{
            &:focus{
                outline: 0;
                box-shadow: initial;
            }
        }
        &.active{
            span{


            }
        }
    }
    .owl-theme .owl-dots .owl-dot span{
        background: #888888;
        border: 1px solid #fff;
    }
    .owl-theme .owl-dots .owl-dot.active span{
        background:#222222;
        width: 30px;
        border-color: #222222;
    }
    .owl-theme .owl-dots .owl-dot:hover span{
        background:#222222;
        border-color: #222222;
    }
}
.content-baner{
    .item{
        img{
            max-height: 600px;
        }
    }
}
/*end slider*/
/*start icon slider*/
.icon-slider{
    margin: 60px 0;
    .title-mpre{
        margin-bottom: 30px;
    }
    .item-icon{

        img{
            width: 110px;
            height: 110px;
            border: 2px solid #ccc;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 10px;
        }
        h5{
            font-size: .9rem;
            text-align: center;
            text-transform: capitalize;
            color: #222222;
        }
    }
    .owl-nav{
        button{
            width: 50px;
            height: 50px;
            background: #222222 !important;
            border-radius: 50% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            zoom: .7;
        }
    }
    .owl-prev{
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        img{
            width: 100%;
            height: 100%;
          }
    }
    .owl-next{
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        img{
            width: 100%;
            height: 100%;
          }

    }
}
.i2-slider{
    margin: 50px 0;
}
.i2-slider .item-icon {
height: 60px;
display: flex;
align-items:center;
justify-content: center;

}
.i2-slider .item-icon img{
     width: 90px;
     height: auto;
     border-radius: 0;
     border: 0;
}
/*end icon slider*/
// custom-three-item
.custom-three-item{
    padding: 20px 0px 0 0px;
    text-align: center;
    background: #fff;
    img{
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    h5{
        background: #000;
        color: #fff;
        text-align: center;
        padding: 10px;
    }
}
// custom-three-item
/*start products*/
.slider-products{
    margin: 50px 0;
    .owl-nav{
        button{
            width: 50px;
            height: 50px;
            background: $main-color !important;
            border-radius: 50% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            zoom: .7;
        }
    }
    .owl-prev{
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        img{
            width: 100%;
            height: 100%;
          }
    }
    .owl-next{
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        img{
            width: 100%;
            height: 100%;
          }

    }
}
.s-products{
.item{
    padding-top: 40px;
}
}
.s1-products .item{
    padding-top: 40px;

}
.s2-products .item{
    padding-top: 40px;

}
.s3-products .item{
    padding-top: 40px;

}
.item-products{

    width: 270px;
    background: $whiteColor;
    position: relative;
    margin: auto;
    .new{
        width: 60px;
        height: 30px;
        background: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-text;
        font-weight: 600;
        position: absolute;
        top: -10px;
        #{$end-direction}:0;
        &::after{
            content: "";
            position: absolute;
            right: -8px;
            top: 0px;
            border: 5px solid transparent;
            border-left-color: #1ca361;
            border-bottom-color: #1ca361;
            #{$start-direction}: -10px;
        }
    }
}
.product-sold-out{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff4f;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        background: #e4e2e27d;
        padding: 5px 20px;
        width: 80%;
        text-align: center;
        color: $color;
        text-transform: uppercase;
    }
}
.item-products-head{
    padding: 15px 20px 0px 20px;

    .head-dis{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tag{
            color: #888888;
        }
        .dis-h{
            background: lighten($main-color , 35%);
            font-size: .75rem;
            padding: 2px 7px;
            border-radius: 20px;
        }
    }
    h6{
        color: #222222;
        text-transform: capitalize;
        margin-top: 5px;
        font-weight: 600;
        height: 40px;
        width: 100%;
        overflow: hidden;
        font-size: 15px;
    }
    .products-body{
        width: 240px;
        height: 210px;
        margin: 20px auto;
        text-align: center;
        img{
            width: auto;
            height: 100%;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}

.products-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 50px !important;
        height: 50px;
    }
    .products-disc{
        display: flex;
        align-items: center;
        .dis{
        color: #DC0707;
        font-weight: 600;
        font-size: 1.1rem;
        }
        .old{
            font-size: .9rem;
            text-decoration: line-through;
            margin-left: 10px;;

        }
        .pri{
            color: #222222;
            font-weight: 600;
        }
    }
}
.products-reat{
    padding: 0px 5px 0 5px;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #F3F3F3;
    .pro-reat{
        padding: 10px 0;
        width: 50%;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            li{
                margin-#{$end-direction}:4px ;
                img{
                    width: 13px;
                    height: 13px;
                }
            }
        }
        span{
            color:  #888;
            font-size: 14px;
        }
    }
    .pro-wish{
        padding: 10px 0;
        border-#{$start-direction}:1px solid #f3f3f3;
        display: flex;
        justify-content:center;
        width: 50%;
        cursor: pointer;
        a{
            display: flex;
        }
        img{
            width: 15px;
        }
        span{
            margin: 0 6px;
            color: #888;
        }
    }
}
/*end item-products*/
/* start cont-banner*/
.cont-banner{
    margin: 30px 0;
    .item-banner{
        width: 100%;
    }
}
/*end cont-banner*/
/*start item-full-banner */
.full-banner{
    margin: 30px 0;
    .item-full-banner{
        width: 100%;
    }
}
/*end  full-banner */
/*start gallery-slider */
.gallery-slider{
    padding: 40px 0;
    .title-mpre{
        margin-bottom: 20px;
    }
}

.item-gallery{
    cursor: pointer;
    width: 250px;
    height: 240px;
    span{
        display: flex;
        width: 100%;
        height:200px;
    border: 2px solid $main-color;

        img{
            width: 100%;
            height: 100%;
        }
    }
    h6{
        height: 40px;
        padding-top:10px;
        text-align: center;
    }
}
/* end gallery-slider*/
/* start how-to-Shipping*/
.how-to-Shipping{
    margin: 30px 0;
    padding: 20px;


}
.item-how-to-Shipping{
    text-align: center;
    background: $main-color;
    padding: 10px;
    span{
        padding-top: 10px;
        svg{
            width: 50px;
            height: 50px;
            fill: $main-text;
        }
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    h5{
        color: $main-text;
        margin-bottom: 10px;
    }
    p{
        color: $main-text;
    }
}
.content-chat-alert{
    margin-bottom: 20px;

}
/*end how-to-Shipping*/
/* start footer*/
.form-contact{
    padding-top: 20px;
    .f-contact{
        margin-bottom: 15px;
        input{
            padding: 0 10px;
            width: 100%;
            height: 40px;
            background: transparent;
            border: 1px solid #fff;
            color: white;
        }
        textarea{
            padding: 0 10px;
            width: 100%;
            height: 80px;
            color: white;
            background: transparent;
            border: 1px solid #fff;
        }
        button{
            border: 0;
            background: $main-color;
            color: $main-text;
            padding: 8px 20px;
            text-transform: capitalize;
            font-size: 15px;
            cursor: pointer;
        }
    }
}
.footer-top{
    padding: 40px 0;
    background: #222222;
}
.foot-logo{
    &>img{
        background: transparent;
        width: 160px;
    }
    img{
    margin-bottom: 20px;
    }
    p{
     color: #888888;
     font-weight: 600;
     margin-bottom: 20px;
    }
    ul{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        li{
            width: 50px;
            span{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: #333333;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s;
            cursor: pointer;
            &:hover{
                background: $main-color;
            }
            img{
                width: 20px;
                height: 20px;
                margin: 4px 0;
            }
            }
        }
    }
    .policy{
        a{
            color: #888888;
            text-decoration: underline !important;
        }
    }
}
.foot-link{
    h5{
        color: $whiteColor;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul{
        li{
            margin-bottom: 10px;
            a{
                color:#888888;
                font-size: .9rem;
            }
        }
    }
}
.contact-us{
    h5{
        color: $whiteColor;
        font-weight: 600;
        margin-bottom: 20px;
    }
    ul{
        li{
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            .icon-mail{
                width: 40px;
                height: 40px;
                background: #333333;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            span{
                color: #888888;
                margin: 0 5px;
            }
        }
    }
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #111111;
    h6{
        color: #888888;
        font-weight: 400;
        font-size: 13px;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            margin: 0 8px;
            width: 60px;
            height: 30px;
            background: #222222;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            img{
                width: 45px;
            }
        }
    }
}
/* end footer*/
/* start about-us*/
.about-us{
    padding-bottom: 30px;
    h2{
        color: $color;
        font-weight: 600;
        margin: 30px 0;
    }
    p{
     font-size: .9rem;
     color: $color;
     margin-bottom: 30px;
    }
}
/* end about-us*/
// filter-from
.filter-from{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 20px;
    .item-filter-from{
        display: flex;
        label{
            text-transform: capitalize;
            padding: 0 10px;
            color: #888888;
            margin-bottom: 0;

        }
        select{
            border: 0;
            background: $main-color;
            color: $whiteColor;
            &:focus{
                outline: 0;
            }
        }
    }
}
.item-radio{
    display: flex;
    align-items: center;
    .form-check{
        padding-left: 0;
        margin-#{$end-direction}: 20px ;
    }
    label{
        margin: 0;
        margin-#{$start-direction}: 30px;
    }
    input{
        margin: 5px !important;

    }

}
// filter-from
// chat

/*start send-chat*/
.send-chat{
    background: $whiteColor;
    border: 1px solid #E2E2E2;
    margin-bottom: 40px;
  }
  .send-chat-head{
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E2E2E2;
    flex-wrap: wrap;

  }
  .sc-head-profile{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .sc-hp-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-#{$end-direction}: 10px;
    position: relative;
    &::after{
      content: " ";
      width: 10px;
      height: 10px;
      background: #888888;
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
      right: 0;

    }
  }
  .sc-hp-inf{
    h4{
      color: #222222;
    }
    p{
      color: #888888;
    }
  }
  .sc-head-search{
    background: #EEEEEE;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    button{
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      outline: 0;
      justify-content: center;
      border: 0;
    }
    input{
      flex-grow: 1;
      height: 100%;
      border: 0;
      background: transparent;
      &::placeholder{
        color: #888888;
      }
    }
  }
  .related-to{
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
    span{
      color: #888888;
    }
    p{
      padding: 0 5px;
      color: $main-color;
      font-weight: 500;
    }
  }
  .send-chat-body{
    padding: 10px 20px;
  }
  .date-dey{
    margin-bottom: 20px;
    h5{
      color: #888888;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .m-from-he{
    display: flex;
    align-items: center;
    padding-#{$start-direction}: 20px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: " ";
      display: block;
      border:8px solid #F2F4FA ;
      border-bottom-color: transparent;
      border-left-color: transparent;
      position: absolute;
      top: 2px;
      #{$start-direction}: 4px;
    }
    p{
      padding: 10px;
      background: #F2F4FA;
      width: 70%;
    }
    span{
      color: #888888;
      display: inline-block;
      width: 100px;
      margin:  0 10px;
    }
  }
  .m-from-me{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-#{$end-direction}: 20px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: " ";
      // width: 50px;
      // height: 50px;
      display: block;
      border: 8px solid $main-color ;
      border-bottom-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: 2px;
      #{$end-direction}: 4px;
    }
    p{
      padding: 10px;
      background: $main-color;
      width: 70%;
      color: $whiteColor;

    }
    span{
      color: #888888;
      display: inline-block;
      width: 100px;
      margin:  0 10px;
    }
  }
  .send-chat-footer{

      display: flex;
      align-items: center;

  }
  .text-type{
    padding: 10px;
    border-top: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding-right: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    span{
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      position: relative;
      img{
        width: 20px;
        height: 20px;
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
    input{
      padding: 10px;
      flex-grow: 1;
      border: 0;
    }
    button{
      background: $main-color;
      color: $whiteColor;
      padding: 10px;
      border-radius: 5px;
      border: 0;
      font-weight: 500;
    }
  }
  .btn-send{
      margin: 0 20px;
    background: $main-color;
    padding:15px 10px;
    border-radius: 5px;
    border: 0;
    span{
      color: $whiteColor;
      font-weight: 600;
    }
  }
  .history-chat{
    background: $whiteColor;
    margin-bottom: 40px;
    .search-history{
      padding: 10px;
      .sc-head-search{
        width: 100% !important;
      }
    }
    ul{
      li{
        &.active{
          background: #F2F4FA ;
        }
        border-bottom: 1px solid #E2E2E2;
        padding: 10px;
        .sc-hp-img{
          width: 40px;
          height: 40px;
        }
        .sc-hp-inf{
          flex-grow: 1;
        }
        .sc-hp-inf h4{
          font-size: 16px;
        }
        .sc-hp-inf p{
          font-size: 13px;
        }
        .sc-hp-img::after {
          content: " ";
          width: 10px;
          height: 10px;
          background: #888888;
          border-radius: 50%;
          position: absolute;
          bottom: 0px;
          right: 0px;}
      }
    }
  }
  .active.sc-hp-img::after{
    background: #22B603 !important;
  }
  .sc-hp-inf-h{
    display: flex;
    justify-content: space-between;
    span{
      color: #888888;
      font-size: 12px;
      text-transform: capitalize;
    }
  }
  /*end send-chat*/
//   dashborad
.menu-styler{
    display: none;
}

.toast-success{
    background-color: #24CE7B !important;
}
