// start var
$font-main:'Poppins', sans-serif;
// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    // font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;;

}

body{
   zoom: .9;
   overflow-x: hidden;
//    direction: rtl;
//    text-align: $start-direction;
}
html[lang="ar"]{

    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
    *{
        font-family: 'Cairo', sans-serif;
    }
    body{
        direction: rtl;
        text-align: right;
    }
    .item-products .new::after{
        transform: rotate(90deg);
    }
    .nav-logo-form form input{
        border-radius: 0 5px 5px 0;
    }
    .nav-logo-form form button{
        border-radius:5px 0 0 5px;
    }
    .m-from-me::after{
        transform: rotate(90deg);
    }
    .m-from-he::after{
        transform: rotate(270deg);
    }
    .item-sh .form-check label{
        margin-right: 30px;
    }
    .form-summary input{
        border-radius: 0 8px 8px 0;
    }
    .form-summary button{
        border-radius:8px 0 0 8px;
    }
}
p {
    margin: 0;

}

ul {
    list-style: none;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 0;
    padding: 0;
}

button{
    transition: all .3;
}
button:active   {
    transform: scale(.99);
}
a{
    text-decoration: none !important;
    color: inherit;
}
.container {
    max-width: 1560px !important;
    width: 92% !important;
}
body{
    background: $bodyColor;
}
.alert{
    padding: 6px;
}
/*start login*/

.p-login{
    display: flex;
    height: 100vh;
    h1{
        margin-top: 100px;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
        color: #222222;

        span{
            background: #FEBF00;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}
.img-login{
    width: 50%;
    text-align: center;
    h1{
        img{
            width: 330px;
        }
    }
    img{
        width: 90%;
    }
}
.content-login{
    background: $whiteColor;
    width: 50%;
    min-width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 1.11;
}
.login-input{
    width: 400px;
    text-align: center;
    h1{
        display: none;
        margin-top: 100px;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
        color: #222222;

        span{
            background: $main-color;
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 50%;
        }
        a{
            color: $main-color;
        }
    }
    h3{
        text-align: center;
        margin-bottom: 10px;
        color: #222222;

    }
    h2{
        text-align: center;
        margin-bottom: 10px;
        color: #222222;
    }
    &>span{
        display: inline-block;
        text-align: center;
        color: #888888;
        margin-bottom: 30px;
        a{
            color: $main-color;
            font-weight: 600;
        }
    }
}
/*end login*/
/*start  side menu*/
.side-menu{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000007d;
    z-index: 5;
    opacity: 0;
    transition: all 1s;
    /* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $main-color;
  }


}
.menu-show{
    visibility: visible;
    opacity: 1;
    .menu-content{
        margin-left: 0;
    }
}
.menu-content{
    width: 410px;
    height: 100%;
    overflow-y: auto;
    background: #F3F3F3;
    margin-left: -100%;
    transition: all .5s;

}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
.logo{
    width: 180px;
}
.closes{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
}
.user-menu{
    border-bottom: 2px solid #F9F9FC;
    padding-bottom: 10px;
    h5{
        text-transform: capitalize;
        font-weight: 600;

    }
    span{
        font-size: .9rem;
    }
}
.user-photo{
    margin: 0px auto 15px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    img{

    }
}
.menu-content-head{
    background: $whiteColor;
    padding: 10px;
    box-shadow: 0 0 3px 0px #00000045;
    ul{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        li{
            cursor: pointer;
        .tap-menu{
            margin: auto;
            width: 40px;
            height: 40px;
            background: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            img{
                width: 25px;
                height: 25px;
                filter: invert(62%) sepia(41%) saturate(599%) hue-rotate(121deg) brightness(841%) contrast(490%);
            }
            svg{
                width: 25px;
                height: 25px;
                fill: $main-text;
                path{
                fill: $main-text;
                }
            }
        }
        span{
            display: block;
            margin-top: 5px;
            font-size: .9rem;
            text-transform: capitalize;
            color: #222222;
        }
        }
    }

}
.title-cat{
    color: #7E859B;
    text-transform: capitalize;
}
.menu-content-body{
    background: $whiteColor;
    margin-top: 8px;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 0 3px 0px #00000045;
    ul{
        li{
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }
    }
}

.menu-content-footer{
background: $whiteColor;
margin-top: 8px;
box-shadow: 0 0 3px 0px #00000045;
}
.item-foot{
    display: flex;
.item-f{
     width: 50%;
     flex-grow: 1;
     padding: 10px;
     border: 1px solid #ddd;
     display: flex;
     align-items: center;
     a{
         color: $color;
         font-size: .9rem;
         margin: 0 8px;
     }
    span{
        width: 30px;
        height: 30px;
        background: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 4px;
        img{
            width: 20px;
            height: 20px;
            filter: invert(62%) sepia(41%) saturate(599%) hue-rotate(121deg) brightness(841%) contrast(490%);
        }
        svg{
            fill:$main-text;
        }

    }
}
}
/*start  side menu*/
// loacal component
.nm-text ul li,
.burger,
.item-f{
    transition: all .2s;
}
.nm-text ul li:active{
    transform: scale(.95);
    background: #00000012;
}
.menu-content-head ul li:active,
.burger:active,
.item-f:active{
    transform: scale(.95);
}
.btn-m{
    background: $main-color !important;
}
.e-fild{
    margin-bottom: 20px;
    input{
        height: 40px;
        width: 100%;
        outline: 0;
        border: 0;
        background: #F3F3F3;
        padding: 10px;
        border-radius: 4px;
        &::-webkit-input-placeholder { /* Edge */
            color: #888888;
            font-weight: 500;
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #888888;
            font-weight: 500;


          }

          &::placeholder {
            color: #888888;
            font-weight: 500;

          }
    }
}
.forget-m{
    display: flex;
    a{
        color: $main-color;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
    }
}
.b-login{
    display: flex;
    justify-content: center;

}
.b-sub{
    padding: 10px 39px;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    background: $main-color;
    color: $main-text;
    outline: 0;
    cursor: pointer;
}
.title-mpre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0;
    h4{
        font-weight: 600;
        text-transform: capitalize;

    }
    a{
        color: #888888;
        font-weight: 600;
    }
}
.item-breadcrumb{
    margin: 30px 0;
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li{
        margin-#{$end-direction}: 20px;
        text-transform: capitalize;
        position: relative;
        color: $color;
            a{
                color: inherit;
            }
        &::after{
            content: ">";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            #{$end-direction}:-15px;
            }

        }
    }
}
.item-breadcrumb ul li:last-child{
    color:#888888;
 &::after{
     display: none;
 }
}
.card-item-order{
    cursor: pointer;
    background: #eceff147;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 7px 0px #2222221f;
    margin: 10px;
    transition:all .4s;
    margin-bottom: 20px;
    &:hover{
        box-shadow:0 0 11px 0px #22222240;
    }
    .order-summary-body{
        border: 0;
        padding: 10px;

    }
    .item-o{
        margin-bottom: 6px !important;
        .item{
            text-transform: capitalize;
            font-size: .9rem;
        }
        .value{
            font-size: .8rem;
        }
    }

}
.icon-cio{
    width: 55px;
    height: 55px;
    background: #FFEB3B;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -29px;
    transition: all .5s;
    img{
        transition: all .5s;
        width: 35px;
    }
}
// transfer-to
.transfer-to{
    padding: 20px;
    border: 1px solid $main-color;
    background: #F4F0D8;
    border-radius: 10px;
    margin-bottom: 20px;
}
.transfer-to-key{
    span:nth-child(1){
        color: #888888;
        font-weight: 600;
    }
    span:nth-child(2){
        color: #272626;
        font-weight: 600;

    }
}
.account-number{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img{
        cursor: pointer;
        padding: 0 10px;
    }
}
.item-sh{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .form-check{
        margin-bottom: 20px;
        label{
            font-weight: 500;
            color: $color;
            span{
                margin-#{$end-direction}:10px ;

                svg{
                    width: 20px;

                    height: 20px;
                }
            }
        }
        &:nth-child(2){
            margin-left: 20px;
        }
    }
}
.parg{
    &>.transfer-to-key{

    }
}
.bank-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .transfer-to-key{
        margin-bottom: 20px;
    }
    .account-number{
        margin-bottom: 0;
    }
    &>img{
        width: 80px;
        border: 1px solid #888;
    }

}
.bank-img .transfer-to-key{
    margin-bottom: 0;
}
.transfer-to .transfer-to-key{
    margin-bottom: 15px;
}
.nearby-center{
    h5{
        font-weight: bold;
        margin-bottom: 20px;

    }
}
.cho-addrss{
    border-top:1px solid rgba(0,0,0,.1);
    padding-top: 10px;
    margin-top: 20px;
    .form-check{
        margin-bottom: 10px;
        label{
            color: $color;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    ul{
        padding-#{$start-direction}:20px ;
        li{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span:nth-child(1){
                color: $color;
                font-size: 14px;
            }
            span:nth-child(2){
                color: #888888;
                padding: 0 10px;
                font-size: 14px;

            }
        }
    }
}
.size-c{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.item-pro-size{
    border: 2px solid #888888;
    padding: 7px 10px;
    color: $color;
    font-weight: 600;
    margin-#{$end-direction}:15px ;
    cursor: pointer;
    transition: all .5s;
    &:hover{
        border: 2px solid #1E88E5;
        color: #1E88E5;
    }
    &.active{
        border: 2px solid #1E88E5;
        color: #1E88E5;
    }
}
.color-span-reat{
    span{
        cursor: pointer;
    }
    span.active{
        border: 3px solid #1E88E5;;
    }
}
// transfer-to
// local styal
.dropdown-item:active{
    background: $main-color;
    text-align: start;
}
.dropdown-item{
        text-align: start;
}
button:focus {
    box-shadow: 0 0 4px 0 #353535;
    outline: 0;
}
@media (max-width: 1220px) {

    body{
        zoom: .8;
    }
 }
@media (max-width: 992px) {
    body{
        zoom: 1;
    }
.nav-info{
    display: none;
}
.nav-logo{
    justify-content: space-between;
    flex-grow: 1;
}
.nm-text{
    display: none;
}
.nm-icon{
    width: 100% !important;
}
nav{
    padding: 10px 0;
}
.owl-nav button{
    zoom: .5 !important;
}
.shopping-nav{
    display: none;
}
.item-banner{
    margin-bottom: 20px;
}
.foot-logo{
    margin-bottom: 20px;
}
.foot-link{
    margin-bottom: 20px;
}
.footer-bottom{
flex-direction:column ;
}
h6{
    margin-bottom: 15px;
}
.steps ul li::after{
    display: none !important;
}
.summary{
    margin-top: 20px;
}
.billing{
    margin-bottom: 20px;
}
.arrivals-body{
    margin: 30px 0;
}
.body-order{
    margin-bottom: 20px;
}
.content-myorder .item-cm{
    margin-bottom: 15px !important;
}
.cm-button button{
    max-width: 300px;
}
.img-login{
    display: none;
}
.content-login{
    width: 100%;
    h1{
        display: block;
    }
}
.order-summary{
    margin: 30px 0;
}
.nav-logo-text{
    position: static !important;
    transform: translate(0% , 0%) !important;
}
.owl-carousel .owl-stage-outer{
    height: auto !important;
}
.slider-baner .owl-carousel .owl-stage-outer .content-baner{
    height: auto !important;
}
.slider-baner .owl-carousel .owl-stage-outer .content-baner img{
    height: auto !important;
}
.mega-menu-links{
    width: 100% !important;
}
}
@media (max-width: 768px) {
    .title-locations {
        flex-direction: column;
    }
    .title-locations h4{
        margin-bottom: 15px;
    }
    .mega-menu-body{
        margin-bottom: 20px;
    }
    .nav-logo{
        flex-direction: column-reverse;
    }
    .nav-logo .nav-logo-text{
        margin-bottom: 10px;
    }
    .nav-logo-form{
        margin-bottom: 10px;
        margin-right: 0;
    }
 }
@media (max-width: 600px) {
    .pagniation ul li{
        width: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        button{
            svg{
                width: 13px !important;
                height: 13px !important;
            }
        }

    }
    .p-list{
        width: 290px;
    }
    .b-sub{
        padding: 6px 20px;
    }

    .owl-dots{
        bottom: 0;
    }
    .menu-content{
        width: 100%;
    }
    .title-mpre{
        flex-direction: column;
    }
    .title-mpre h4{
        margin-bottom: 10px;
    }

    .nav-logo-form{
        margin: 0;
        zoom: .8;
    }

    .login-input{
        width: 100%;
        padding: 0 15px;
    }
    .login-input h1{
        font-size: 38px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .check-box ul li{
        margin-bottom: 15px;
    }
    .button-bla button{
        padding: 5px 40px !important;
    }
    .a-title{
        margin-bottom: 10px;
        h3{
            margin-bottom: 10px;
        }
    }
    .arrivals-title,
    .a-title{
        justify-content: center !important;
    }
    .capt{
        flex-direction: column;
        img{
            margin-bottom: 20px !important;
        }
    }
    .item-prod{
        flex-direction: column;
    }
    .item-prod{
        text-align: center;
        .capt {
            img{
          height: 60px;
          width: 60px;
        }
    }
      }
    .item-prod >img{
        margin-bottom: 10px !important;
    }
    .wiz-step::before,
        .wiz-step::after{
        width: 82% !important;
    }
    .wiz-step.stap-2::before {
        width: 47% !important;
        left: 12px;
        transform: translateX(6%);
    }
    .notification{
        flex-direction: column;

    }
    .os-item-img{
        flex-direction: column;
        align-items: center;

    }
    .os-item{
        flex-direction: column;
        align-items: center;

    }
    .os-img{
        margin-bottom: 10px;
    }
    .rate-fot{
        justify-content: center;
        flex-wrap: wrap;
    }
    .quantity{
        margin-bottom: 10px;
    }
.rate-share ul{
    flex-wrap: wrap;
}
.rate-share ul li{
    margin-bottom: 10px;
}
.person-rate{
    border: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.gallery{
    zoom: .8;
}
.nav-logo-form{
    margin-bottom: 10px;
}
.item-pro-size{
    font-size: 11px;
}
.m-from-me,
.m-from-he{
  flex-direction: column !important;
  p{
    width: 100% !important;
  }
}
.wallet-titel{
    flex-wrap: wrap;
    .cm-button{
        button{
            padding: 10px 40px;
        }
    }

}
.item-sh .form-check:nth-child(2){
    margin-left: 0 ;
    margin-right: 0 ;
}
}
@media (max-width: 300px) {
    body{
        zoom: .8 !important;
    }
}

[dir=rtl] .gallery-slider .owl-nav{
    direction: ltr;
}

[dir=ltr] .drop-cart {
    right: 0;
    left: auto;
}

[dir=ltr] .fild-number input {
padding-left: 100px;
}

.fild-number select {
    width: 74px !important;
}
