.new-arrivals{
    padding: 0px 0;
    .filters{
        .filters-titel{
            padding: 10px;
            background: $main-color;
            color: $main-text;
            text-align: center;
            span{
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }
}
.filters-body{
    background: $whiteColor;
    padding: 20px 15px 40px 15px;
    h6{
        color: $color;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
    .card{
        border: 0;
        margin-bottom: 8px;
    }
    .card-header{
        padding: 0;
        background: transparent;
        border: 0;
        .filter-ru{
            display: flex;
            justify-content: space-between;
            padding: 5px;
            cursor: pointer;
            span{
                color: #888888;
                font-size: .9rem;
            }
            img{
                
            }
        }
        .filter-ru.collapsed{
            span{
               
            }
            img{
               
            }
        }
    }
    .card-body{
        padding-top: 5px;
        ul{
            li{
                margin-bottom: 8px;
                a{
                    color: #888888;
                }
            }
        }
    }
}
.brands{
    padding-top: 10px;
    border-top:1px solid #F3F3F3 ;
    ul{
        li{
            label{
                cursor: pointer;
                color: #888888;
                input{
                    margin-#{$end-direction}: 5px;
                }
            }
        }
    }
}
.itemrange{
    
    padding-top: 10px;
    border-top:1px solid #F3F3F3 ;
}



/* color-c */
.color-c{
    padding-top: 10px;
    border-top:1px solid #F3F3F3 ;
    .item-color{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span{
            margin-bottom: 10px;
            margin-#{$end-direction}:15px;
            width: 30px;
            height: 30px;
            background: #000;
            border-radius: 50%;
            display: block;
            cursor: pointer;
            position: relative;
            &.active{
                &::after{
                   content: ""; 
                   background:url(../../img/check-circle.svg) no-repeat;
                   width: 20px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: -7px;
                    background-size: cover;
                }
            }
        }
        .color1{
            background: #D09D4B;
        }
        .color2{
            background: #BEBEBE;
        }
    }
} 

/* color-c */
/*start Apply Filters*/ 
.apply-filters{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    button{
    border: 0;
    padding: 10px 30px;
    background: $main-color;
    color: $main-text;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    text-transform: capitalize;
    width: 100% ;
    }
}
.clear-filter{  
  background: #E73C51 !important;
  text-transform: capitalize;
  margin-bottom: 10px;

}
/*end Apply Filters*/ 
/*style rang */



section {
    float: left;
    width: 100%;
	padding-bottom:3em;
}
h2 {
    color: #1a0e0e;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
	text-transform:uppercase;
}
h2 span {
    display: block;
    padding: 0;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 5px;
	text-transform:uppercase;
}

#float-right{
	float:right;	
}

/* ******************************************************
	Script Top
*********************************************************/

.ScriptTop {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
    margin: 24px 0;
    padding: 0;
    text-align: left;
}
.ScriptTop li{
	list-style:none;	
	display:inline-block;
}
.ScriptTop li a {
    background: #6a4aed none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 18px;
    text-decoration: none;
    text-transform: capitalize;
}
.ScriptTop li a:hover{
	background:#000;
	color:#fff;
}


/* ******************************************************
	Script Header
*********************************************************/

.ScriptHeader {
    float: left;
    width: 100%;
    padding: 2em 0;
}
.rt-heading {
    margin: 0 auto;
	text-align:center;
}
.Scriptcontent{
	
}
.ScriptHeader h1{
	font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
    color: #6a4aed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;

}
.ScriptHeader h2 {
    color: #312c8f;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;

}
.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;

}
.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}




/* ******************************************************
	Live Demo
*********************************************************/





/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
	margin: 0 auto;
	padding-left:12px;
	padding-right:12px;
}
.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6, .col-rt-12 {
    width: 100%;
  }
  
}

@media (min-width: 1200px) {
	.rt-container {
		width: 1170px;
	}
	.col-rt-1 {
		width:16.6%;
	}
	.col-rt-2 {
		width:30.33%;
	}
	.col-rt-3 {
		width:50%;
	}
	.col-rt-4 {
		width: 67.664%;
	}
	.col-rt-5 {
		width: 83.33%;
	}
	

}

@media only screen and (min-width:240px) and (max-width: 768px){
	 .ScriptTop h1, .ScriptTop ul {
		text-align: center;
	}
	.ScriptTop h1{
		margin-top:0;
		margin-bottom:15px;
	}
	.ScriptTop ul{
		 margin-top:12px;		
	}
	
	.ScriptHeader h1,
	.ScriptHeader h2, 
	.scriptnav ul{
		text-align:center;	
	}
	.scriptnav ul{
		 margin-top:12px;		
	}
	#float-right{
		float:none;	
	}
	
}





[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 80px 0 10px 0;
    margin-bottom: 20px;
  }
  
  [slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 10px;
    border-radius: 10px;
    background-color: #F3F3F3;
  }
  
  [slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 10px;
    border-radius: 10px;
    background-color: #F3F3F3;
    margin: 0 7px;
  }
  
  [slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 10px;
    border-radius: 10px;
    background-color: #F3F3F3;
    margin: 0 7px;
  }
  
  [slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 10  px;
    border-radius: 14px;
    background-color: #F3F3F3;
  }
  
  [slider] > div > [thumb] {
    cursor: pointer;
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 24px;
    width: 24px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    // box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: $main-color;
    border-radius: 50%;
    outline: none;
  }
  
  [slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  
  div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
  }
  
  div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
  }
  
  div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
  }
  
  div[slider] > input[type=range]:focus {
    outline: none;
  }
  
  div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
  }
  
  div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
  }
  
  div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
  }
  
  div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
  }
  
  div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
  }
  
  div[slider] > input[type=range]::-ms-tooltip {
    display: none;
  }
  .lef{
    #{$start-direction}:0
  }
  .rig{
    #{$end-direction}:0
  }
  [slider] > div > [sign] {
    opacity: 1;
    position: absolute;
    margin-left: -11px;
    top: -60px;
    z-index:3;
    background-color: #F3F3F3;
    color: #fff;
    width: 78px;
    height: 38px;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #E4E2E2;
  }
  
  [slider] > div > [sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: $main-color;
    display: none;
  }
  
  [slider] > div > [sign] > span {
    font-size: 15px;
    // font-weight: 700;
    line-height: 38px;
    color: $color;
  }
  
  [slider]:hover > div > [sign] {
    opacity: 1;
  }
  .to-value{
    position: absolute;
    top: -53px;
    left: 50%;
    text-transform: capitalize;
    transform: translateX(-50%);
  }
/* start arrivals-body*/
.arrivals-body{
    .arrivals-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.a-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h3{
        color: $color;
    }
    span{
        color: #888888;
        font-size: .9rem;
        margin: 0 5px;
    }
}
.b-title{
    span{
        color: #888888;
        font-size: .9rem;
        margin: 0 5px;
    }
    select{
        background: transparent;
        border: 0;
        color: #888888;
        font-weight: 600;
        outline: 0;
    }
}
.results-items{
    margin: 25px 0;
   .item-products{
       margin: 20px auto;
   } 
}
/* end arrivals-body*/    