.my-account{
  margin: 40px 0;

  ul{
    li{
      a{
        display: flex;
        align-items: center;
        background: $whiteColor;
        padding: 12px 30px;
        border-bottom:1px solid #E4E2E2;
        transition: all .5s;
        .icon{
          svg{
            width: 30px;
            height: 30px;
            fill:#888888 ;
            transition: all .5s;
          }
        }
        .text{
          font-size: 1rem;
          font-weight: 600;
          color: #888888;
          padding: 0 10px;
          text-transform: capitalize;
          transition: all .5s;
        }
      }
      &.active{
        a{
          background: $main-color;
          .icon{
            svg{
              fill: $main-text
            }
          }
          .text{
            color: $main-text;
          }
        }
      }
      &:hover{
        a{
          background:lighten($main-color, 30%);
          .icon{
            svg{
              fill: $color;
            }
          }
          .text{
            color: $color;
          }
        }
      }
    }
  }
}
.content-myorder{
  background: $whiteColor;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 40px;
}
.cm-header{
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid #E4E2E2;
  .item-cm{
    margin-bottom: 8px;
    span{
      &:nth-child(1){
        color: #888888;
      }
      &:nth-child(2){
        color: $color;
        font-weight: 600;
      }
    }
  }
}
.cm-body{
  padding: 20px 30px;
  border-bottom: 1px solid #E4E2E2;
}
.cm-prod{
  display: flex;
}
.cmp-img{
  width: 150px;
  height: 150px;
  border: 1px solid $color;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 90px;
    height: 90px;
  }
}
.cmp-text{
  margin:  0 15px;
  h6{
    font-weight: 600;
    color: $color;
    margin-bottom: 10px;
  }


}
.item-cm{
  margin-bottom: 8px;
  span{
    &:nth-child(1){
      color: #888888;
    }
    &:nth-child(2){
      color: $color;
      font-weight: 600;
    }
  }
}
.cm-rate{
display: flex;
align-items: center;
margin-bottom: 15px;
span{
  color: #888888;
}
}
.cm-button{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  button{
    border: 0;
    background: #002222;
    color: #fff;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }
}
.cm-footer{
  padding: 20px 30px;
  background: $whiteColor;

  .button-bla{
    button{
      padding: 10px 30px;
    }
  }
}

.wiz-step{

    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 10px auto;
    width: 100%;
    position: relative;
    &::after{
      content: "";
    display: block;
    width: 94%;
    height: 8px;
    position: absolute;
    background: #E4E2E2;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    }
    &::before{
      content: "";
    display: block;
    width: 94%;
    height: 8px;
    position: absolute;
    background: #222222;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    }
    li{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index:8;
      img{
        width: 32px;
        margin-bottom: 8px;
      }
    }
  }
.stap-2{
   li:nth-child(1){
     img:nth-child(3){
       display: none;
     }
   }
   li:nth-child(2){
    img:nth-child(2){
      display: none;
    }
   }
   li:nth-child(3){
    img:nth-child(3){
      display: none;
    }
    img:nth-child(2){
      opacity: 0;
    }
   }
   &::before{
     width: 47%;
     #{$start-direction}:0;
     transform: translateX(6%);
   }
}
.stap-1{
  li:nth-child(1){
    img:nth-child(2){
      display: none;
    }
  }
  li:nth-child(2){
   img:nth-child(3){
     display: none;
   }
  }
  li:nth-child(3){
   img:nth-child(3){
     display: none;
   }
  }
  &::before{
    display: none;
    width: 47%;
    #{$start-direction}:0;
    transform: translateX(6%);
  }
}
.title-locations{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h4{
    font-weight: 600;
  }
button{
  background: $main-color;
  border-radius: 20px;
  padding: 8px 25px;
  border: 0;
  cursor: pointer;
 img{
   height: 30px;
 }
}
}
.right-loc{
  background: $whiteColor;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 20px;
}
.right-loc-text{
  display: flex;
  img{
    width: 30px;
    height: 30px;
  }
}
.rlt-d{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  h6{
    color: $color;
    margin-bottom: 15px;
  }
  span{
    color: #888888;
    margin-bottom: 15px;
  }
}
.right-loc-button{
  button{
    border: 0;
    background: transparent;
    img{
      margin: 0 5px;
    }
    span{
      font-weight: 600;
    }
  }
}
.create-ticket{
  h4{
    text-align: center;
    font-weight: 600;
    color: $color;
    margin-bottom: 15px;
  }
  p{
    color: #888888;
    text-align: center;
    font-size: .8rem;
    margin-bottom: 20px;
  }
}
.form-item-input{
  textarea{
    min-height: 200px;
    background: $whiteColor;
    border-radius: 4px;
    border: 0;
  }
  .b-login{
    margin: 20px 0 !important;
  }
}
.file-upload{
  position: relative;
  height: 50px;
  background: $color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  span{
    color: $whiteColor;
    margin: 0 10px;
  }
  input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
  }

}
.error-m{
  padding: 15px 10px;
  color: $whiteColor;
  background: #DC0707;
  margin-bottom: 15px;
  span{font-weight: 600;}
}
.m-successfully{
  text-align: center;
  padding: 30px 0;
  img{
    margin-bottom: 20px;
  }
 h6{
   font-weight: 600;
   color: $color;
   text-align: center;
   margin-bottom: 15px;
 }
 p{
   color: #888888;
   margin-bottom: 15px;
 }

 .item-cm{
   margin-bottom: 25px;
 }

}
.notification{
  border-radius: 5px;
  background: $whiteColor;
  padding:15px;
  display: flex;
  margin-bottom: 20px;
  .not-img{
    width: 60px;
    height: 70px;
  }
  .not-text{
    margin: 0 15px;
    h6{
      font-weight: 600;
      color: $color;
      margin-bottom: 15px;
    }
    p{
      color: #888888;
      font-size: .8rem;
    }
  }
}
.notification-but{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  button{
    border-radius: 8px;
    border: 0;
    padding: 8px 20px;
    background: $main-color;
    cursor: pointer;
    span{
      color: $color;
    }
    img{
      margin:0 5px;
    }
  }
}
.wallet{}
.wallet-titel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  h4{
    font-size: 20px;
    color: $color;
    text-transform: capitalize;

  span{
    color: #DC0707;
    font-weight: 600;
  }
  }
}
.wallet-body{
  background: $whiteColor;
  border-radius: 10px;
  thead{
    tr{
      border: 0;
      th{
        color: #888888;
        font-weight: 500;
      }
    }
  }
  tbody{
    tr{

    &:nth-child(odd){
      background: #FFFBE3;

    }
    td{
      border: 0;
    }
  }
  }
}
.t-date{
  display: flex;
  align-items: center;
  img{}
  span{
    color: #888888;
    margin: 0 10px;
    font-weight: 600;
  }
}
.t-text{
font-weight: 600;
color: $color;
}
.t-green{
  color: #00B12A;
  font-weight: 600;
}
.t-red{
  color: #DC0707;
  font-weight: 600;
}

@media screen and (max-width: 600px){
    .wiz-step{
        li{
            span{
                font-size: 10px;
            }

        }
    }
}
