.int-modal{
  border: 0;
  border-radius: 20px;
  .modal-content{
    border-radius: 15px;
    min-height: 230px;
    position: relative;
    border: 0;
    &::before{
      content: "";
      width: 70px;
      height: 70px;
      position: absolute;
      left: 20px;
      display: block;
      top: 10px;
      background: url(../../../img/aft-back.svg) no-repeat;
      background-size: contain;
    }
    &::after{
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      display: block;
      bottom: 40px;
      background: url(../../../img/bef-back.svg) no-repeat;
      background-size: contain;
    }
  }
  .modal-header{
    border: 0; 
    padding:10px 15px; 
  }
  .modal-body{
    padding: 15px 50px;
  }
  .close{
    opacity: 1;
    outline: 0;
    &:focus{
      outline: 0;
      box-shadow: 0 0 0 0;
    }
    img{
      width: 15px;
    }

  }
}
.rate-pop{
  h4{
    text-align: center;
    margin-bottom: 20px;
  }
  .item-reat{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    span{
      color: #888888;
      font-size: 1rem;
      text-transform: capitalize;
    }
  }
}
.star-rate{
  margin: 0 25px;
  ul{
    display: flex;
    align-items: center;
    li{
      margin: 0 2px;
      cursor: pointer;
      svg{
        width: 20px;
        height: 20px;
        fill: #CDCDCD;
        transition: all .5s;
      }
      &:hover{
        svg{
          fill: $main-color;
          transform: scale(1.2);
        }
      }
      
      
    }
  }
}

.item-dis{
  display: flex;
  flex-direction: column;
  span{
    color: #888888;
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  textarea{
    background: #F3F3F3;
    border: 0;
    border-radius: 10px;
    min-height: 180px;
    outline: 0;
    padding: 10px;
  }
}
.burron-rate{
  margin: 20px 0;
  button{
    border: 0;
    background: $main-color;
    outline: 0;
    padding: 10px;
    display: block;
    width: 100%;
    color: $whiteColor;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
  }
}

.pop-castume{
  text-align: center;
  img{
    width: 100px;
    margin: 10px auto;
    margin-bottom: 20px;
  }
  h6{
    color: $color;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p{
    font-size: .8rem;
    color: #888888;
    margin: 20px 0;
  }
}
.success{
  background: #00B12A !important;
}
.closet{
  background: #DC0707 !important;
}
.infoo{
  background: #448AFF !important;
}

#exampleModal5 .modal-header{
    display: none;
  }

#exampleModal4 .modal-header{
    display: none;
  }


#exampleModal3 .modal-header{
    display: none;
  
}

#exampleModal2 .modal-header{
    display: none;
  
}