.item-search{
    padding:20px 0;
    .nav-item-search{
        margin-#{$end-direction}: 2vw;
        form{
            display: flex;
            input{
                background: #ffffff;
                border: 0;
                height: 40px;
                border-radius: 5px 0 0 5px;
                padding: 0 10px;
                flex-grow: 1;
                border: 1px solid $main-color;
                &:focus{
                    outline: 1px solid $main-color;
                  
    
                }
            }
            button{
                width: 45px;
                height: 40px;
                border: 0;
                background: $main-color;
                cursor: pointer;
                border-radius:0 5px 5px 0;
            }
        }
    }
}
.fild-number{
    position: relative;
    select{
        position: absolute;
        width: 70px;
        top: 39px;
        background: $main-color;
        left: 10px;
        height: 30px;
        color: $main-text;
        padding: 0 5px;
    }
    input{
        padding-#{$start-direction}:100px ;
    }
    
}
.promo-error{
    background: #DC0707 !important;
    margin: 0 20px;
    padding: 7px 10px;
    color: #fff;
    opacity: .8;
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: 5px;
}
.promo-info{
    background: #448AFF !important;
    margin: 0 20px;
    padding: 7px 10px;
    color: #fff;
    opacity: .8;
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: 5px;

}
.promo-sccsses{
    background: #00B12A !important;
    margin: 0 20px;
    padding: 7px 10px;
    color: #fff;
    opacity: .8;
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: 5px;

}
.shep-icon{
    display: flex;
    img{
        margin: 0 5px;
    }
}
.e-fild.fild-number select{
    top:6px;
}