.product-c{
  padding: 15px;
  background: $whiteColor;
  max-width: 450px;
  margin: auto;
  .prod-dis{
    display: flex;
    flex-direction: row-reverse;
  span{
    background: #fff3b2;
    font-size: .75rem;
    padding: 2px 7px;
    border-radius: 20px;
  }
}

}
.prod-img{
text-align: center;
  img{
    max-width: 300px;
    width: 100%;
    margin: auto;
  }

}
.product{
  .owl-nav{
    button{
        width: 50px;
        height: 50px;
        background: #222222 !important;
        border-radius: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        zoom: .7;
    }
}
.owl-prev{
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    img{
      width: 100%;
      height: 100%;
    }
}
.owl-next{
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    img{
      width: 100%;
      height: 100%;
    }

}
}
.product-info{
h4{
  color: $color;
  text-transform: capitalize;
  margin-bottom: 10px;
}
}
.s-title{
  color: #888888;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;

}
.price-top{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .p-red{
    font-weight: 600;
    color: #DC0707;
    font-size: 1.1rem;
  }
  .old-p{
    font-weight: 600;
    color: #888888;
    margin: 0 8px;
    font-size: 1rem;
    text-decoration: line-through;
  }
}
.prod-rate{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  ul{
    display: flex;
    li{
      margin: 0 2px;
      svg{
        width: 15px;
        height: 15px;
        fill: #888888;
      }
      &.active{
        svg{
          fill: $main-color;
        }
      }
    }
  }
}
.reat-count{
  color: $color;
  font-weight: 600;
  margin:0 5px;

}

.reat-t{
  color: #888888;
  margin:0 10px;
}
.availabl{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
  .nor-av{
    color: #888888;
    font-weight: 500;
  }
  .gr-av{
    margin: 0 5px;
    color: #00B12A;
    font-weight: bold;
  }
}
.sold-out{
  color: #DC0707 !important;
}
.rate-discra{
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
h6{
  font-weight: 600;
  color: $color;
  text-transform: capitalize;
  margin-bottom: 10px;

}
p{
  color: #888888;
  font-size: .9rem;
}
}
.rate-color{
  h6{
    font-weight: 600;
    color: $color;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

}
.color-span-reat{
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin: 0 5px;
  }
}
.rate-fot{
  padding-top: 10px;
  display: flex;
  align-items: center;
  .quantity{
    padding-top: 0 !important;
  }
}
.add-to-rate{
  margin: 0 10px;
  button{
    background: $main-color;
    border: 0;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20px;
    display: flex;
    align-items: center;
    img{
      width: 20px;
    }
    span{
      color: $main-text;
      margin: 0 5px;
      font-weight: 600;
    }
  }
}
.rate-share{
  margin-top: 20px;
  ul{
    display: flex;
    align-items: center;
    li{
      cursor: pointer;
      img{}
      span{
        color: $color;
        margin: 0 5px;
        text-transform: capitalize;
      }
      &:not(:nth-child(1)){
        margin: 0 10px;
      }
    }
  }
}
.additional-info{
  margin: 40px 0;
}
.add-title{
  text-transform: capitalize;
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 2px solid $main-color;
  color: $color;
  padding-bottom: 10px;
  font-weight: 600;
}
.additional-body{
  background: $whiteColor;
  padding: 35px 0;
  p{
    color: #888888;
    font-size: .9rem;
    margin-bottom: 20px;
  }
  ul{
    li{
      padding: 0 30px;
      color: $color;
      margin-bottom: 10px;
      font-size: .9rem;
      position: relative;
      &::before{
        content: " ";
        width: 17px;
        height: 17px;
        display: block;
        background: #000;
        position: absolute;
        #{$start-direction}: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../../img/check-y.svg) no-repeat;
        background-size: contain;
      }
    }
  }
}
.dim{
  text-align: center;
  margin: 25px 0;
  img{
    max-height: 230px;
  }
}
.weight-item{
  display: flex;
  align-items: center;
  span{
    width: 50%;
    height: 40px;
    line-height: 40px;
  }
  .k{
    padding-#{$start-direction}:30px;
    font-weight: 600;
    color: $color;
    border-#{$end-direction}:1px solid #E4E2E2; ;
  }
  .v{
    color:$color;
    padding-#{$start-direction}:30px;
  }
}
.gr{
  background: #F3F3F3;
}
.reviews{
  margin-bottom: 20px;
}
.reviews-t{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .reviews-w{
    width: 120px;
    display: flex;
    flex-direction: column;
    h6{
      color: $color;
      font-weight: 600;
    }
    span{
      color: #888888;
    }
  }
}
.reviews-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  ul{
    width: 120px;
    display: flex;
    align-items: center;
    li{
      padding: 0;
      margin: 0;
      &::before{
        display: none;
      }
      &.active{
        svg{
          fill: $main-color;
        }}
      svg{
        fill: #D4D4D4;
        width: 15px;
        height: 15px;

      }
    }
  }
  &>span{
    margin: 0 10px;
    color: $color;
  }
}
.prog{
  width: 200px;
  height: 15px;
  background: #D4D4D4;
  border-radius: 15px;
  overflow: hidden;
  span{
    height: 100%;
    display: block;
    background: $main-color;
    border-radius: 15px;
  }
}
.person-rate{
  border-#{$start-direction}:2px solid #D4D4D4;
  padding-#{$start-direction}:50px;

}
.person-item{
  display: flex;
  flex-direction: column;
  ul{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    li{
      padding: 0;
      margin: 0 1px;

      &::before{
        display: none;
      }
      &.active{
        svg{
          fill: $main-color;
        }}
      svg{
        fill: #D4D4D4;
        width: 15px;
        height: 15px;

      }
    }
  }
  p{
    font-size: .9rem;
    color: #888888;
    margin-bottom: 10px;
  }
}
.date-name{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  .ne-d{
    color: $color;
    font-weight: 600;
  }
  .ne-v{
    color: #888888;
    margin: 0 5px;
  }
}
.drop-cart{
  visibility: hidden;
  padding: 10px;
    width: 400px;
    min-height: 280px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 4px 0px #9f9f9f;
    border-radius: 10px;
    top: 140%;
    z-index: 9999;
    #{$end-direction}: 0;
    transition: all .5s;
    opacity: 0;
    .item-prod{
      margin-bottom: 10px;
      display: flex;
      &>img{
        margin: 0 5px;
      }
      .capt{
        display: flex;
        align-items: center;
        text-align: center;
        img{
          margin: 0 0px;
          width: 60px;
          height: 60px;

        }
        .information{
            text-align: left;
          display: flex;
          flex-direction: column;

          h6{

          }
          span{
            color: #888888;
          }
        }
      }
    }
}
[dir=rtl] .information {
    text-align: right;
}
.img-c{
  width: 70px;
  height: 70px;
  padding: 5px;
  text-align: center;
  border: 1px solid #888888;
  margin: 0 3px;
}
.button-cart{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button{
    width: 49%;
    display: block;
    height: 45px;
    background: $color;
    color: $whiteColor;
    font-weight: 600;

    cursor: pointer;
    border: 0;
  }
  .view-cart{
    width: 49%;
    display: block;
    height: 45px;
    background: darken($main-color, 5%);
    color: $whiteColor;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    text-align: center;
    line-height: 45px;
  }
}
.nav-info ul li:hover{
&>.drop-cart{
  visibility:visible;
  top: 150%;
  opacity: 1;
  transition: all 1s;
}
}
// start slider prodact
.gallery{
  display: flex;
  height: 300px;
  overflow: hidden;
 .gallery-show{
  flex-grow: 1;
  background: #fff;
  height: 100%;
  overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .gallery-nav{
     height: 100%;
     width: 100px;

     padding: 10px;
 }
}
.item-nav{
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid #fff;
  height: calc(100% / 3 - 6px);
  text-align: center;
img{
  height: 100%;
}
}
.select{
 border: 2px solid #FFEB3B;

}
.show-item{
  padding: 10px;
  .prod-img{
      text-align: center;
      img{
          width: 220px;
          max-height: 200px;
      }
  }
}
.prod-dis{
  display: flex;
  flex-direction: row-reverse;
span{
  background: #fff3b2;
  font-size: .75rem;
  padding: 2px 7px;
  border-radius: 20px;
}
}

.add-to-rate{
    .add_to_cart{
        border-radius: 50% ;
        padding: 7px 8px;
        margin: unset ;
        margin-bottom: 7px ;
        img{
            width: 20px !important;
            height: 20px !important;
        }
    }

}
