.wishlist{
  margin: 40px 0;
  h4{
    color: $color;
    text-align: center;
    margin-bottom: 30px;
  }
  thead{
    tr{
      th{
        color: #888888;
        font-weight: 500;
      }
    }
  }
}
.item-prod{
  display: flex;
  a{
    display: flex;
  }
  &>img{
    margin: 0 5px;
  }
  .capt{
    display: flex;
    align-items: center;
    img{
      margin: 0 5px;
      width: 70px;
      height: 70px;
    }
    .information{
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      h6{
       
      }
      span{
        color: #888888;
      }
    }
  }
}
.avilable{
  font-weight: 600;
  color: #00B12A;
}

.button-tbale-sub{
  img{
    width: 20px;
    margin-#{$end-direction}: 10px;
  }
  button{
    border: 0;
    background: #222222;
    color: #fff;
    padding: 6px 15px;
    border-radius: 8px;
  }
}
/*start cart */
 .quantity{
   display: flex;
   align-items: center;
   padding-top: 14px;
   button{
     background: $color;
     color: $whiteColor;
     width: 30px;
     height: 30px;
     cursor: pointer;
     border: 0;
   }
   
   span{
     width: 50px;
     height: 30px;
     background: $whiteColor;
     text-align: center;
     line-height: 30px;
   }
 }
 .price{
   padding-top: 20px;
   span{
     font-weight: 600;
     color: #888888;
   }
 }
 .summary{
   .button-bla{
    margin: 10px 0;
     padding:0 20px ;
     button{
       padding: 8px 20px;
       width: 100%;
       font-weight: 600;
     }
   }
 }