/*** RTL websites ***/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  		This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  		calculation of the height of the owl-item that breaks page layouts
  	 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  zoom: 0.9;
  overflow-x: hidden;
}

html[lang=ar] {
  @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
}
html[lang=ar] * {
  font-family: "Cairo", sans-serif;
}
html[lang=ar] body {
  direction: rtl;
  text-align: right;
}
html[lang=ar] .item-products .new::after {
  transform: rotate(90deg);
}
html[lang=ar] .nav-logo-form form input {
  border-radius: 0 5px 5px 0;
}
html[lang=ar] .nav-logo-form form button {
  border-radius: 5px 0 0 5px;
}
html[lang=ar] .m-from-me::after {
  transform: rotate(90deg);
}
html[lang=ar] .m-from-he::after {
  transform: rotate(270deg);
}
html[lang=ar] .item-sh .form-check label {
  margin-right: 30px;
}
html[lang=ar] .form-summary input {
  border-radius: 0 8px 8px 0;
}
html[lang=ar] .form-summary button {
  border-radius: 8px 0 0 8px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
  margin: 0;
  padding: 0;
}

button {
  transition: all 0.3;
}

button:active {
  transform: scale(0.99);
}

a {
  text-decoration: none !important;
  color: inherit;
}

.container {
  max-width: 1560px !important;
  width: 92% !important;
}

body {
  background: #F3F3F3;
}

.alert {
  padding: 6px;
}

/*start login*/
.p-login {
  display: flex;
  height: 100vh;
}
.p-login h1 {
  margin-top: 100px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #222222;
}
.p-login h1 span {
  background: #FEBF00;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.img-login {
  width: 50%;
  text-align: center;
}
.img-login h1 img {
  width: 330px;
}
.img-login img {
  width: 90%;
}

.content-login {
  background: #fff;
  width: 50%;
  min-width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 1.11;
}

.login-input {
  width: 400px;
  text-align: center;
}
.login-input h1 {
  display: none;
  margin-top: 100px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #222222;
}
.login-input h1 span {
  background: #59d1b5;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.login-input h1 a {
  color: #59d1b5;
}
.login-input h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #222222;
}
.login-input h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #222222;
}
.login-input > span {
  display: inline-block;
  text-align: center;
  color: #888888;
  margin-bottom: 30px;
}
.login-input > span a {
  color: #59d1b5;
  font-weight: 600;
}

/*end login*/
/*start  side menu*/
.side-menu {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000007d;
  z-index: 5;
  opacity: 0;
  transition: all 1s;
  /* width */
  /* Track */
  /* Handle */
}
.side-menu ::-webkit-scrollbar {
  width: 10px;
}
.side-menu ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.side-menu ::-webkit-scrollbar-thumb {
  background: #59d1b5;
}

.menu-show {
  visibility: visible;
  opacity: 1;
}
.menu-show .menu-content {
  margin-left: 0;
}

.menu-content {
  width: 410px;
  height: 100%;
  overflow-y: auto;
  background: #F3F3F3;
  margin-left: -100%;
  transition: all 0.5s;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.top-menu .logo {
  width: 180px;
}
.top-menu .closes {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-menu {
  border-bottom: 2px solid #F9F9FC;
  padding-bottom: 10px;
}
.user-menu h5 {
  text-transform: capitalize;
  font-weight: 600;
}
.user-menu span {
  font-size: 0.9rem;
}

.user-photo {
  margin: 0px auto 15px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: none;
}
.menu-content-head {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 3px 0px #00000045;
}
.menu-content-head ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.menu-content-head ul li {
  cursor: pointer;
}
.menu-content-head ul li .tap-menu {
  margin: auto;
  width: 40px;
  height: 40px;
  background: #59d1b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.menu-content-head ul li .tap-menu img {
  width: 25px;
  height: 25px;
  filter: invert(62%) sepia(41%) saturate(599%) hue-rotate(121deg) brightness(841%) contrast(490%);
}
.menu-content-head ul li .tap-menu svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}
.menu-content-head ul li .tap-menu svg path {
  fill: #fff;
}
.menu-content-head ul li span {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #222222;
}

.title-cat {
  color: #7E859B;
  text-transform: capitalize;
}

.menu-content-body {
  background: #fff;
  margin-top: 8px;
  padding: 10px 10px 0px 10px;
  box-shadow: 0 0 3px 0px #00000045;
}
.menu-content-body ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.menu-content-footer {
  background: #fff;
  margin-top: 8px;
  box-shadow: 0 0 3px 0px #00000045;
}

.item-foot {
  display: flex;
}
.item-foot .item-f {
  width: 50%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.item-foot .item-f a {
  color: #342ea3;
  font-size: 0.9rem;
  margin: 0 8px;
}
.item-foot .item-f span {
  width: 30px;
  height: 30px;
  background: #59d1b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 4px;
}
.item-foot .item-f span img {
  width: 20px;
  height: 20px;
  filter: invert(62%) sepia(41%) saturate(599%) hue-rotate(121deg) brightness(841%) contrast(490%);
}
.item-foot .item-f span svg {
  fill: #fff;
}

/*start  side menu*/
.nm-text ul li,
.burger,
.item-f {
  transition: all 0.2s;
}

.nm-text ul li:active {
  transform: scale(0.95);
  background: #00000012;
}

.menu-content-head ul li:active,
.burger:active,
.item-f:active {
  transform: scale(0.95);
}

.btn-m {
  background: #59d1b5 !important;
}

.e-fild {
  margin-bottom: 20px;
}
.e-fild input {
  height: 40px;
  width: 100%;
  outline: 0;
  border: 0;
  background: #F3F3F3;
  padding: 10px;
  border-radius: 4px;
}
.e-fild input::-webkit-input-placeholder {
  /* Edge */
  color: #888888;
  font-weight: 500;
}
.e-fild input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888888;
  font-weight: 500;
}
.e-fild input::placeholder {
  color: #888888;
  font-weight: 500;
}

.forget-m {
  display: flex;
}
.forget-m a {
  color: #59d1b5;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.b-login {
  display: flex;
  justify-content: center;
}

.b-sub {
  padding: 10px 39px;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  background: #59d1b5;
  color: #fff;
  outline: 0;
  cursor: pointer;
}

.title-mpre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0;
}
.title-mpre h4 {
  font-weight: 600;
  text-transform: capitalize;
}
.title-mpre a {
  color: #888888;
  font-weight: 600;
}

.item-breadcrumb {
  margin: 30px 0;
}
.item-breadcrumb ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.item-breadcrumb ul li {
  margin-left: 20px;
  text-transform: capitalize;
  position: relative;
  color: #342ea3;
}
.item-breadcrumb ul li a {
  color: inherit;
}
.item-breadcrumb ul li::after {
  content: ">";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}

.item-breadcrumb ul li:last-child {
  color: #888888;
}
.item-breadcrumb ul li:last-child::after {
  display: none;
}

.card-item-order {
  cursor: pointer;
  background: #eceff147;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 7px 0px #2222221f;
  margin: 10px;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.card-item-order:hover {
  box-shadow: 0 0 11px 0px #22222240;
}
.card-item-order .order-summary-body {
  border: 0;
  padding: 10px;
}
.card-item-order .item-o {
  margin-bottom: 6px !important;
}
.card-item-order .item-o .item {
  text-transform: capitalize;
  font-size: 0.9rem;
}
.card-item-order .item-o .value {
  font-size: 0.8rem;
}

.icon-cio {
  width: 55px;
  height: 55px;
  background: #FFEB3B;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -29px;
  transition: all 0.5s;
}
.icon-cio img {
  transition: all 0.5s;
  width: 35px;
}

.transfer-to {
  padding: 20px;
  border: 1px solid #59d1b5;
  background: #F4F0D8;
  border-radius: 10px;
  margin-bottom: 20px;
}

.transfer-to-key span:nth-child(1) {
  color: #888888;
  font-weight: 600;
}
.transfer-to-key span:nth-child(2) {
  color: #272626;
  font-weight: 600;
}

.account-number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.account-number img {
  cursor: pointer;
  padding: 0 10px;
}

.item-sh {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.item-sh .form-check {
  margin-bottom: 20px;
}
.item-sh .form-check label {
  font-weight: 500;
  color: #342ea3;
}
.item-sh .form-check label span {
  margin-left: 10px;
}
.item-sh .form-check label span svg {
  width: 20px;
  height: 20px;
}
.item-sh .form-check:nth-child(2) {
  margin-left: 20px;
}

.bank-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bank-img .transfer-to-key {
  margin-bottom: 20px;
}
.bank-img .account-number {
  margin-bottom: 0;
}
.bank-img > img {
  width: 80px;
  border: 1px solid #888;
}

.bank-img .transfer-to-key {
  margin-bottom: 0;
}

.transfer-to .transfer-to-key {
  margin-bottom: 15px;
}

.nearby-center h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.cho-addrss {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin-top: 20px;
}
.cho-addrss .form-check {
  margin-bottom: 10px;
}
.cho-addrss .form-check label {
  color: #342ea3;
  font-weight: bold;
  text-transform: capitalize;
}
.cho-addrss ul {
  padding-right: 20px;
}
.cho-addrss ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.cho-addrss ul li span:nth-child(1) {
  color: #342ea3;
  font-size: 14px;
}
.cho-addrss ul li span:nth-child(2) {
  color: #888888;
  padding: 0 10px;
  font-size: 14px;
}

.size-c {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.item-pro-size {
  border: 2px solid #888888;
  padding: 7px 10px;
  color: #342ea3;
  font-weight: 600;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.item-pro-size:hover {
  border: 2px solid #1E88E5;
  color: #1E88E5;
}
.item-pro-size.active {
  border: 2px solid #1E88E5;
  color: #1E88E5;
}

.color-span-reat span {
  cursor: pointer;
}
.color-span-reat span.active {
  border: 3px solid #1E88E5;
}

.dropdown-item:active {
  background: #59d1b5;
  text-align: start;
}

.dropdown-item {
  text-align: start;
}

button:focus {
  box-shadow: 0 0 4px 0 #353535;
  outline: 0;
}

@media (max-width: 1220px) {
  body {
    zoom: 0.8;
  }
}
@media (max-width: 992px) {
  body {
    zoom: 1;
  }

  .nav-info {
    display: none;
  }

  .nav-logo {
    justify-content: space-between;
    flex-grow: 1;
  }

  .nm-text {
    display: none;
  }

  .nm-icon {
    width: 100% !important;
  }

  nav {
    padding: 10px 0;
  }

  .owl-nav button {
    zoom: 0.5 !important;
  }

  .shopping-nav {
    display: none;
  }

  .item-banner {
    margin-bottom: 20px;
  }

  .foot-logo {
    margin-bottom: 20px;
  }

  .foot-link {
    margin-bottom: 20px;
  }

  .footer-bottom {
    flex-direction: column;
  }

  h6 {
    margin-bottom: 15px;
  }

  .steps ul li::after {
    display: none !important;
  }

  .summary {
    margin-top: 20px;
  }

  .billing {
    margin-bottom: 20px;
  }

  .arrivals-body {
    margin: 30px 0;
  }

  .body-order {
    margin-bottom: 20px;
  }

  .content-myorder .item-cm {
    margin-bottom: 15px !important;
  }

  .cm-button button {
    max-width: 300px;
  }

  .img-login {
    display: none;
  }

  .content-login {
    width: 100%;
  }
  .content-login h1 {
    display: block;
  }

  .order-summary {
    margin: 30px 0;
  }

  .nav-logo-text {
    position: static !important;
    transform: translate(0%, 0%) !important;
  }

  .owl-carousel .owl-stage-outer {
    height: auto !important;
  }

  .slider-baner .owl-carousel .owl-stage-outer .content-baner {
    height: auto !important;
  }

  .slider-baner .owl-carousel .owl-stage-outer .content-baner img {
    height: auto !important;
  }

  .mega-menu-links {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .title-locations {
    flex-direction: column;
  }

  .title-locations h4 {
    margin-bottom: 15px;
  }

  .mega-menu-body {
    margin-bottom: 20px;
  }

  .nav-logo {
    flex-direction: column-reverse;
  }

  .nav-logo .nav-logo-text {
    margin-bottom: 10px;
  }

  .nav-logo-form {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .pagniation ul li {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
  .pagniation ul li button svg {
    width: 13px !important;
    height: 13px !important;
  }

  .p-list {
    width: 290px;
  }

  .b-sub {
    padding: 6px 20px;
  }

  .owl-dots {
    bottom: 0;
  }

  .menu-content {
    width: 100%;
  }

  .title-mpre {
    flex-direction: column;
  }

  .title-mpre h4 {
    margin-bottom: 10px;
  }

  .nav-logo-form {
    margin: 0;
    zoom: 0.8;
  }

  .login-input {
    width: 100%;
    padding: 0 15px;
  }

  .login-input h1 {
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .check-box ul li {
    margin-bottom: 15px;
  }

  .button-bla button {
    padding: 5px 40px !important;
  }

  .a-title {
    margin-bottom: 10px;
  }
  .a-title h3 {
    margin-bottom: 10px;
  }

  .arrivals-title,
.a-title {
    justify-content: center !important;
  }

  .capt {
    flex-direction: column;
  }
  .capt img {
    margin-bottom: 20px !important;
  }

  .item-prod {
    flex-direction: column;
  }

  .item-prod {
    text-align: center;
  }
  .item-prod .capt img {
    height: 60px;
    width: 60px;
  }

  .item-prod > img {
    margin-bottom: 10px !important;
  }

  .wiz-step::before,
.wiz-step::after {
    width: 82% !important;
  }

  .wiz-step.stap-2::before {
    width: 47% !important;
    left: 12px;
    transform: translateX(6%);
  }

  .notification {
    flex-direction: column;
  }

  .os-item-img {
    flex-direction: column;
    align-items: center;
  }

  .os-item {
    flex-direction: column;
    align-items: center;
  }

  .os-img {
    margin-bottom: 10px;
  }

  .rate-fot {
    justify-content: center;
    flex-wrap: wrap;
  }

  .quantity {
    margin-bottom: 10px;
  }

  .rate-share ul {
    flex-wrap: wrap;
  }

  .rate-share ul li {
    margin-bottom: 10px;
  }

  .person-rate {
    border: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .gallery {
    zoom: 0.8;
  }

  .nav-logo-form {
    margin-bottom: 10px;
  }

  .item-pro-size {
    font-size: 11px;
  }

  .m-from-me,
.m-from-he {
    flex-direction: column !important;
  }
  .m-from-me p,
.m-from-he p {
    width: 100% !important;
  }

  .wallet-titel {
    flex-wrap: wrap;
  }
  .wallet-titel .cm-button button {
    padding: 10px 40px;
  }

  .item-sh .form-check:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 300px) {
  body {
    zoom: 0.8 !important;
  }
}
[dir=rtl] .gallery-slider .owl-nav {
  direction: ltr;
}

[dir=ltr] .drop-cart {
  right: 0;
  left: auto;
}

[dir=ltr] .fild-number input {
  padding-left: 100px;
}

.fild-number select {
  width: 74px !important;
}

.pagniation {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  background: #fff;
}
.pagniation ul {
  display: flex;
  align-items: center;
}
.pagniation ul li {
  line-height: 33px;
  border: 1px solid #D9D9D9;
  width: 40px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  color: #888888;
  transition: all 0.4s;
}
.pagniation ul li.active {
  background: #59d1b5;
  color: #222222;
}
.pagniation ul li.active button svg {
  fill: #222222;
}
.pagniation ul li:hover {
  background: #59d1b5;
  color: #222222;
}
.pagniation ul li:hover button svg {
  fill: #222222;
}
.pagniation ul li button {
  box-shadow: 0 0 0 0 !important;
  cursor: pointer;
  border: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.pagniation ul li button svg {
  width: 15px;
  height: 15px;
  fill: #888888;
  transition: all 0.4s;
}

/* start shopping-nav */
.shopping-nav {
  background: #59d1b5;
  padding: 8px 10px;
}
.shopping-nav .link-offer {
  flex-grow: 1;
  text-align: center;
}
.shopping-nav .link-offer span {
  color: #342ea3;
}
.shopping-nav .shopping-center {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}
.shopping-nav .shopping-center .link-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-nav .shopping-center .link-login span {
  cursor: pointer;
}
.shopping-nav .shopping-center .link-login span svg {
  fill: #342ea3;
  width: 12px;
  height: 12px;
}

.language svg {
  width: 25px;
  height: 25px;
  fill: #342ea3;
}

.log-sign {
  text-transform: capitalize;
}
.log-sign a {
  color: #342ea3;
  font-weight: 600;
}

/* end shopping-nav */
/* start product-list*/
.product-list {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 55;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.product-list .p-list {
  width: 320px;
  height: 100%;
  background: #f7f7fa;
  position: absolute;
  left: -320px;
  top: 0;
  transition: all 0.5s;
}

.product-list-show {
  visibility: visible;
  opacity: 1;
}
.product-list-show .p-list {
  left: 0px;
}

.product-list-item {
  background: #fff;
  padding: 10px;
  box-shadow: 1px 1px 8px 0px #ccc8c8;
  margin-bottom: 15px;
}

.img-info-product {
  display: flex;
}
.img-info-product .img-p-prod {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.img-info-product .img-p-info h6 {
  color: #342ea3;
}

.img-p-info-add {
  display: flex;
  align-items: center;
}
.img-p-info-add span {
  color: #888888;
  font-size: 0.8rem;
}
.img-p-info-add img {
  width: 25px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total span {
  color: #342ea3;
  font-weight: 600;
  font-size: 0.8rem;
}
.cart-total span:nth-child(1) {
  text-transform: capitalize;
}
.cart-total span:nth-child(2) {
  text-transform: uppercase;
}

.cart-p-button {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.cart-p-button button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
.cart-p-button .cart-buy {
  background: #59d1b5;
  color: #342ea3;
  font-size: 0.8rem;
  padding: 10px 5px;
  flex-grow: 1;
  margin-left: 10px;
  text-align: center;
  text-transform: capitalize;
}
.cart-p-button .cart-buy-fill {
  background: #f9fdfc;
  border: 2px solid #59d1b5;
  color: #342ea3;
  font-size: 0.8rem;
  padding: 8px 3px;
  flex-grow: 1;
  text-align: center;
  text-transform: capitalize;
}

/*end product-list*/
/*start nav bar*/
nav {
  padding: 10px 0;
  background: #fff;
  position: relative;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.burger {
  margin: 0 20px;
  cursor: pointer;
}

.nm-icon {
  cursor: pointer;
}
.nm-icon:hover .mega-menu-links {
  opacity: 1;
  top: 47px;
  visibility: visible;
}

.mega-menu-links {
  position: absolute;
  top: 40px;
  right: 0;
  width: 400px;
  background: #F5F5F5;
  padding: 20px;
  z-index: 100;
  border-radius: 0 0 5px 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0px 3px 14px -8px #33333347;
}

[dir=ltr] .mega-menu-links {
  left: 2px !important;
  right: auto !important;
}

.mega-menu-body ul {
  width: 200px;
}
.mega-menu-body ul li a {
  color: #342ea3;
  transition: all 0.3s;
}
.mega-menu-body ul li a:hover {
  color: #59d1b5;
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-form {
  margin-right: 2vw;
}
.nav-logo-form form {
  display: flex;
}
.nav-logo-form form input {
  background: #F3F3F3;
  border: 0;
  height: 40px;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
}
.nav-logo-form form input:focus {
  outline: 1px solid #59d1b5;
}
.nav-logo-form form button {
  width: 45px;
  height: 40px;
  border: 0;
  background: #59d1b5;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.nav-logo-form form button svg path {
  fill: #fff;
}

.nav-logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav-logo-text h2 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
}
.nav-logo-text h2 img {
  width: 260px;
}
.nav-logo-text h2 span {
  background: #FEBF00;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.nav-info ul {
  display: flex;
  align-items: center;
}
.nav-info ul li {
  position: relative;
  margin-left: 2vw;
  cursor: pointer;
}

.say-hello {
  display: flex;
}
.say-hello::after {
  display: none;
}

.icon-hello {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon-hello img:first-child {
  width: 25px;
}
.icon-hello img:last-child {
  display: none;
}
.icon-hello span {
  margin: 0 5px;
}

.heart-icon img {
  width: 25px;
}
.heart-icon span {
  color: #fff;
}

.shop-order {
  display: flex;
  align-items: center;
}
.shop-order span {
  margin: 0 8px;
  font-weight: 600;
  color: #222222;
}

.icon-order {
  position: relative;
  width: 30px;
  height: auto;
}
.icon-order img {
  width: 32px;
}
.icon-order span {
  width: 20px;
  height: 20px;
  background: #59d1b5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 50%;
  font-size: 0.8rem;
}

.heart-icon {
  width: 30px;
  height: auto;
  position: relative;
}
.heart-icon img {
  width: 32px;
}
.heart-icon span {
  width: 20px;
  height: 20px;
  background: #59d1b5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 50%;
  font-size: 0.8rem;
}

/*end nav bar*/
.nav-menu {
  background: #fff;
  border: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
}
.nav-menu .nm-icon {
  width: 250px;
  background: #59d1b5;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-menu .nm-icon .open-menu {
  cursor: pointer;
  color: #fff;
}
.nav-menu .nm-icon .open-menu span {
  font-weight: 600;
  margin-left: 7px;
}

.nm-text {
  padding: 10px;
}
.nm-text ul {
  display: flex;
  align-items: center;
}
.nm-text ul li {
  margin-left: 1.5vw;
}
.nm-text ul li a {
  color: #342ea3;
  font-weight: 500;
}

/*start slider*/
.slider-baner .owl-nav button {
  width: 50px;
  height: 50px;
  background: #222222 !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 0.7;
}
.slider-baner .owl-prev {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.slider-baner .owl-prev img {
  width: 100%;
  height: 100%;
}
.slider-baner .owl-next {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
.slider-baner .owl-next img {
  width: 100%;
  height: 100%;
}
.slider-baner .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
}
.slider-baner .owl-dots button:focus {
  outline: 0;
  box-shadow: initial;
}
.slider-baner .owl-theme .owl-dots .owl-dot span {
  background: #888888;
  border: 1px solid #fff;
}
.slider-baner .owl-theme .owl-dots .owl-dot.active span {
  background: #222222;
  width: 30px;
  border-color: #222222;
}
.slider-baner .owl-theme .owl-dots .owl-dot:hover span {
  background: #222222;
  border-color: #222222;
}

.content-baner .item img {
  max-height: 600px;
}

/*end slider*/
/*start icon slider*/
.icon-slider {
  margin: 60px 0;
}
.icon-slider .title-mpre {
  margin-bottom: 30px;
}
.icon-slider .item-icon img {
  width: 110px;
  height: 110px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
}
.icon-slider .item-icon h5 {
  font-size: 0.9rem;
  text-align: center;
  text-transform: capitalize;
  color: #222222;
}
.icon-slider .owl-nav button {
  width: 50px;
  height: 50px;
  background: #222222 !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 0.7;
}
.icon-slider .owl-prev {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.icon-slider .owl-prev img {
  width: 100%;
  height: 100%;
}
.icon-slider .owl-next {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.icon-slider .owl-next img {
  width: 100%;
  height: 100%;
}

.i2-slider {
  margin: 50px 0;
}

.i2-slider .item-icon {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i2-slider .item-icon img {
  width: 90px;
  height: auto;
  border-radius: 0;
  border: 0;
}

/*end icon slider*/
.custom-three-item {
  padding: 20px 0px 0 0px;
  text-align: center;
  background: #fff;
}
.custom-three-item img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.custom-three-item h5 {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/*start products*/
.slider-products {
  margin: 50px 0;
}
.slider-products .owl-nav button {
  width: 50px;
  height: 50px;
  background: #59d1b5 !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 0.7;
}
.slider-products .owl-prev {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.slider-products .owl-prev img {
  width: 100%;
  height: 100%;
}
.slider-products .owl-next {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.slider-products .owl-next img {
  width: 100%;
  height: 100%;
}

.s-products .item {
  padding-top: 40px;
}

.s1-products .item {
  padding-top: 40px;
}

.s2-products .item {
  padding-top: 40px;
}

.s3-products .item {
  padding-top: 40px;
}

.item-products {
  width: 270px;
  background: #fff;
  position: relative;
  margin: auto;
}
.item-products .new {
  width: 60px;
  height: 30px;
  background: #59d1b5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: -10px;
  left: 0;
}
.item-products .new::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 0px;
  border: 5px solid transparent;
  border-left-color: #1ca361;
  border-bottom-color: #1ca361;
  right: -10px;
}

.product-sold-out {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff4f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-sold-out h3 {
  background: #e4e2e27d;
  padding: 5px 20px;
  width: 80%;
  text-align: center;
  color: #342ea3;
  text-transform: uppercase;
}

.item-products-head {
  padding: 15px 20px 0px 20px;
}
.item-products-head .head-dis {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-products-head .head-dis .tag {
  color: #888888;
}
.item-products-head .head-dis .dis-h {
  background: #e5f8f3;
  font-size: 0.75rem;
  padding: 2px 7px;
  border-radius: 20px;
}
.item-products-head h6 {
  color: #222222;
  text-transform: capitalize;
  margin-top: 5px;
  font-weight: 600;
  height: 40px;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
}
.item-products-head .products-body {
  width: 240px;
  height: 210px;
  margin: 20px auto;
  text-align: center;
}
.item-products-head .products-body img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.products-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-footer img {
  width: 50px !important;
  height: 50px;
}
.products-footer .products-disc {
  display: flex;
  align-items: center;
}
.products-footer .products-disc .dis {
  color: #DC0707;
  font-weight: 600;
  font-size: 1.1rem;
}
.products-footer .products-disc .old {
  font-size: 0.9rem;
  text-decoration: line-through;
  margin-left: 10px;
}
.products-footer .products-disc .pri {
  color: #222222;
  font-weight: 600;
}

.products-reat {
  padding: 0px 5px 0 5px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #F3F3F3;
}
.products-reat .pro-reat {
  padding: 10px 0;
  width: 50%;
  display: flex;
  align-items: center;
}
.products-reat .pro-reat ul {
  display: flex;
  align-items: center;
}
.products-reat .pro-reat ul li {
  margin-left: 4px;
}
.products-reat .pro-reat ul li img {
  width: 13px;
  height: 13px;
}
.products-reat .pro-reat span {
  color: #888;
  font-size: 14px;
}
.products-reat .pro-wish {
  padding: 10px 0;
  border-right: 1px solid #f3f3f3;
  display: flex;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}
.products-reat .pro-wish a {
  display: flex;
}
.products-reat .pro-wish img {
  width: 15px;
}
.products-reat .pro-wish span {
  margin: 0 6px;
  color: #888;
}

/*end item-products*/
/* start cont-banner*/
.cont-banner {
  margin: 30px 0;
}
.cont-banner .item-banner {
  width: 100%;
}

/*end cont-banner*/
/*start item-full-banner */
.full-banner {
  margin: 30px 0;
}
.full-banner .item-full-banner {
  width: 100%;
}

/*end  full-banner */
/*start gallery-slider */
.gallery-slider {
  padding: 40px 0;
}
.gallery-slider .title-mpre {
  margin-bottom: 20px;
}

.item-gallery {
  cursor: pointer;
  width: 250px;
  height: 240px;
}
.item-gallery span {
  display: flex;
  width: 100%;
  height: 200px;
  border: 2px solid #59d1b5;
}
.item-gallery span img {
  width: 100%;
  height: 100%;
}
.item-gallery h6 {
  height: 40px;
  padding-top: 10px;
  text-align: center;
}

/* end gallery-slider*/
/* start how-to-Shipping*/
.how-to-Shipping {
  margin: 30px 0;
  padding: 20px;
}

.item-how-to-Shipping {
  text-align: center;
  background: #59d1b5;
  padding: 10px;
}
.item-how-to-Shipping span {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.item-how-to-Shipping span svg {
  width: 50px;
  height: 50px;
  fill: #fff;
}
.item-how-to-Shipping h5 {
  color: #fff;
  margin-bottom: 10px;
}
.item-how-to-Shipping p {
  color: #fff;
}

.content-chat-alert {
  margin-bottom: 20px;
}

/*end how-to-Shipping*/
/* start footer*/
.form-contact {
  padding-top: 20px;
}
.form-contact .f-contact {
  margin-bottom: 15px;
}
.form-contact .f-contact input {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  color: white;
}
.form-contact .f-contact textarea {
  padding: 0 10px;
  width: 100%;
  height: 80px;
  color: white;
  background: transparent;
  border: 1px solid #fff;
}
.form-contact .f-contact button {
  border: 0;
  background: #59d1b5;
  color: #fff;
  padding: 8px 20px;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}

.footer-top {
  padding: 40px 0;
  background: #222222;
}

.foot-logo > img {
  background: transparent;
  width: 160px;
}
.foot-logo img {
  margin-bottom: 20px;
}
.foot-logo p {
  color: #888888;
  font-weight: 600;
  margin-bottom: 20px;
}
.foot-logo ul {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.foot-logo ul li {
  width: 50px;
}
.foot-logo ul li span {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  cursor: pointer;
}
.foot-logo ul li span:hover {
  background: #59d1b5;
}
.foot-logo ul li span img {
  width: 20px;
  height: 20px;
  margin: 4px 0;
}
.foot-logo .policy a {
  color: #888888;
  text-decoration: underline !important;
}

.foot-link h5 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.foot-link ul li {
  margin-bottom: 10px;
}
.foot-link ul li a {
  color: #888888;
  font-size: 0.9rem;
}

.contact-us h5 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-us ul li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.contact-us ul li .icon-mail {
  width: 40px;
  height: 40px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contact-us ul li .icon-mail img {
  width: 20px;
  height: 20px;
}
.contact-us ul li span {
  color: #888888;
  margin: 0 5px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #111111;
}
.footer-bottom h6 {
  color: #888888;
  font-weight: 400;
  font-size: 13px;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
}
.footer-bottom ul li {
  margin: 0 8px;
  width: 60px;
  height: 30px;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.footer-bottom ul li img {
  width: 45px;
}

/* end footer*/
/* start about-us*/
.about-us {
  padding-bottom: 30px;
}
.about-us h2 {
  color: #342ea3;
  font-weight: 600;
  margin: 30px 0;
}
.about-us p {
  font-size: 0.9rem;
  color: #342ea3;
  margin-bottom: 30px;
}

/* end about-us*/
.filter-from {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 20px;
}
.filter-from .item-filter-from {
  display: flex;
}
.filter-from .item-filter-from label {
  text-transform: capitalize;
  padding: 0 10px;
  color: #888888;
  margin-bottom: 0;
}
.filter-from .item-filter-from select {
  border: 0;
  background: #59d1b5;
  color: #fff;
}
.filter-from .item-filter-from select:focus {
  outline: 0;
}

.item-radio {
  display: flex;
  align-items: center;
}
.item-radio .form-check {
  padding-left: 0;
  margin-left: 20px;
}
.item-radio label {
  margin: 0;
  margin-right: 30px;
}
.item-radio input {
  margin: 5px !important;
}

/*start send-chat*/
.send-chat {
  background: #fff;
  border: 1px solid #E2E2E2;
  margin-bottom: 40px;
}

.send-chat-head {
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E2E2E2;
  flex-wrap: wrap;
}

.sc-head-profile {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sc-hp-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
}
.sc-hp-img::after {
  content: " ";
  width: 10px;
  height: 10px;
  background: #888888;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.sc-hp-inf h4 {
  color: #222222;
}
.sc-hp-inf p {
  color: #888888;
}

.sc-head-search {
  background: #EEEEEE;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
}
.sc-head-search button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  outline: 0;
  justify-content: center;
  border: 0;
}
.sc-head-search input {
  flex-grow: 1;
  height: 100%;
  border: 0;
  background: transparent;
}
.sc-head-search input::placeholder {
  color: #888888;
}

.related-to {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E2E2E2;
}
.related-to span {
  color: #888888;
}
.related-to p {
  padding: 0 5px;
  color: #59d1b5;
  font-weight: 500;
}

.send-chat-body {
  padding: 10px 20px;
}

.date-dey {
  margin-bottom: 20px;
}
.date-dey h5 {
  color: #888888;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.m-from-he {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 30px;
  position: relative;
}
.m-from-he::after {
  content: " ";
  display: block;
  border: 8px solid #F2F4FA;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 2px;
  right: 4px;
}
.m-from-he p {
  padding: 10px;
  background: #F2F4FA;
  width: 70%;
}
.m-from-he span {
  color: #888888;
  display: inline-block;
  width: 100px;
  margin: 0 10px;
}

.m-from-me {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-left: 20px;
  margin-bottom: 30px;
  position: relative;
}
.m-from-me::after {
  content: " ";
  display: block;
  border: 8px solid #59d1b5;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 2px;
  left: 4px;
}
.m-from-me p {
  padding: 10px;
  background: #59d1b5;
  width: 70%;
  color: #fff;
}
.m-from-me span {
  color: #888888;
  display: inline-block;
  width: 100px;
  margin: 0 10px;
}

.send-chat-footer {
  display: flex;
  align-items: center;
}

.text-type {
  padding: 10px;
  border-top: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  padding-right: 15px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.text-type span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.text-type span img {
  width: 20px;
  height: 20px;
}
.text-type span input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.text-type input {
  padding: 10px;
  flex-grow: 1;
  border: 0;
}
.text-type button {
  background: #59d1b5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-weight: 500;
}

.btn-send {
  margin: 0 20px;
  background: #59d1b5;
  padding: 15px 10px;
  border-radius: 5px;
  border: 0;
}
.btn-send span {
  color: #fff;
  font-weight: 600;
}

.history-chat {
  background: #fff;
  margin-bottom: 40px;
}
.history-chat .search-history {
  padding: 10px;
}
.history-chat .search-history .sc-head-search {
  width: 100% !important;
}
.history-chat ul li {
  border-bottom: 1px solid #E2E2E2;
  padding: 10px;
}
.history-chat ul li.active {
  background: #F2F4FA;
}
.history-chat ul li .sc-hp-img {
  width: 40px;
  height: 40px;
}
.history-chat ul li .sc-hp-inf {
  flex-grow: 1;
}
.history-chat ul li .sc-hp-inf h4 {
  font-size: 16px;
}
.history-chat ul li .sc-hp-inf p {
  font-size: 13px;
}
.history-chat ul li .sc-hp-img::after {
  content: " ";
  width: 10px;
  height: 10px;
  background: #888888;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.active.sc-hp-img::after {
  background: #22B603 !important;
}

.sc-hp-inf-h {
  display: flex;
  justify-content: space-between;
}
.sc-hp-inf-h span {
  color: #888888;
  font-size: 12px;
  text-transform: capitalize;
}

/*end send-chat*/
.menu-styler {
  display: none;
}

.toast-success {
  background-color: #24CE7B !important;
}

.steps {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.steps ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.steps ul li {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 4vw;
}
.steps ul li::after {
  position: relative;
  content: " ";
  display: block;
  width: 4vw;
  border-top: 2px dotted #888888;
}
.steps ul li:last-child::after {
  display: none;
}
.steps ul li .rad-s {
  width: 30px;
  height: 30px;
  background: #C9C9C9;
  color: #DEDEDE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.1rem;
}
.steps ul li .step-text {
  margin: 0 10px;
  text-transform: capitalize;
  color: #A0A0A0;
}
.steps ul li.active .rad-s {
  background: #222222;
  color: #fff;
}
.steps ul li.active .step-text {
  color: #342ea3;
}

/*start billing-details*/
.details {
  margin: 30px 0;
}
.details .b-sub {
  padding: 6px 30px;
}

.billing-details h5 {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.form-item-input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.form-item-input > label {
  text-transform: capitalize;
  color: #888888;
  margin-bottom: 10px;
}
.form-item-input > label span {
  color: #DC0707;
}
.form-item-input input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 0;
  padding: 0 10px;
}
.form-item-input input:focus {
  outline: 1px solid #FED700;
}
.form-item-input select {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 0;
  padding: 0 10px;
}

.form-item-input input[type=radio] {
  height: auto;
  width: auto;
  border: 0;
  padding: 0 10px;
  margin: 0 10px;
}

.parg p {
  color: #888888;
  margin: 20px 0 40px 0;
}

.check-box {
  padding: 0 15px;
  margin-bottom: 20px;
}
.check-box ul {
  display: flex;
  flex-wrap: wrap;
}
.check-box ul li {
  margin-left: 20px;
}
.check-box ul li img {
  margin: 0 10px;
}

/*end billing-details*/
/*start summary*/
.summary {
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 0 7px 0 #00000045;
  border-radius: 10px;
}
.summary h6 {
  padding: 0 20px;
  color: #342ea3;
  font-weight: 600;
  margin-bottom: 30px;
}

.item-o {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}
.item-o .item {
  color: #888888;
}
.item-o .value {
  color: #342ea3;
  font-weight: 600;
}
.item-o .value-r {
  color: #DC0707;
  font-weight: 600;
  text-transform: capitalize;
}

.free-dis {
  padding: 0 20px;
  font-size: 0.9rem;
  color: #888888;
  display: flex;
  flex-direction: row-reverse;
}

.form-summary {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0px;
}
.form-summary input {
  height: 40px;
  background: #F3F3F3;
  width: calc(100% - 100px);
  border: 0;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}
.form-summary input:focus {
  outline: 1px solid #FED700;
}
.form-summary button {
  width: 100px;
  height: 40px;
  background: #342ea3;
  border: 0;
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.subtotal {
  margin-top: 10px;
  border-top: 1px solid #888888;
  padding-top: 15px;
}

/*end summary*/
/* start step-done*/
.step-done {
  padding: 30px 0;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
}

.done-one-top {
  text-align: center;
}
.done-one-top img {
  margin-bottom: 20px;
}
.done-one-top h6 {
  font-weight: 600;
  color: #342ea3;
  text-align: center;
  margin-bottom: 15px;
}
.done-one-top .order-on {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #888888;
  padding-bottom: 20px;
}
.done-one-top .order-on span {
  color: #888888;
}
.done-one-top .order-on .value {
  color: #342ea3;
}

.done-one-bottom {
  padding-top: 20px;
}
.done-one-bottom .total {
  padding: 20px 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.done-one-bottom .total span {
  color: #888888;
}
.done-one-bottom .total .value {
  color: #342ea3;
  font-weight: 600;
}

.billing {
  display: flex;
}

.text-billing {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.text-billing h6 {
  color: #342ea3;
  margin-bottom: 15px;
}
.text-billing span {
  color: #888888;
  margin-bottom: 10px;
}

.button-bla {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.button-bla button {
  border: 0;
  background: #342ea3;
  color: #fff;
  padding: 5px 80px;
  border-radius: 5px;
  cursor: pointer;
}

.shipping-d h4 {
  margin: 30px 0;
  color: #342ea3;
}
.shipping-d .b-login {
  margin: 40px 0;
}

.shipping-item {
  cursor: pointer;
  padding: 20px;
  border: 1px solid #888888;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.shipping-item .shipping-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.shipping-item .shipping-item-head h5 {
  color: #342ea3;
  font-weight: 600;
}
.shipping-item p {
  color: #888888;
  font-weight: 600;
  margin-bottom: 10px;
}
.shipping-item span {
  display: block;
  color: #888888;
  margin-bottom: 10px;
}
.shipping-item.active {
  border: 1px solid #FEBF00;
  background: #F4F0D8;
}
.shipping-item.active::before {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  top: -10px;
  left: -10px;
  background: url(../../img/back-ar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.add-new {
  margin-bottom: 20px;
  cursor: pointer;
  background: #E4E2E2;
  min-height: 215px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-new img {
  margin-bottom: 10px;
}
.add-new span {
  font-weight: 600;
  color: #888888;
}

.vise-item {
  cursor: pointer;
  padding: 25px;
  border: 1px solid #888888;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
}
.vise-item img {
  margin-bottom: 10px;
  width: 50px;
  height: 40px;
}
.vise-item span {
  color: #888888;
}
.vise-item.active {
  border: 1px solid #FEBF00;
  background: #F4F0D8;
}
.vise-item.active::before {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  top: -10px;
  left: -10px;
  background: url(../../img/back-ar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.order-summary {
  background: #fff;
  border-radius: 8px;
  padding: 10px 20px 20px;
}
.order-summary .order-summary-head {
  padding: 20px;
}
.order-summary .order-summary-head h5 {
  color: #342ea3;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.os-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.os-item > span {
  color: #342ea3;
  font-weight: 600;
}

.os-item-img {
  display: flex;
}

.os-img {
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}
.os-img img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.os-text {
  padding: 5px 10px;
}
.os-text h6 {
  color: #342ea3;
}
.os-text .information {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.os-text .information span {
  color: #888888;
}

.order-summary-body {
  border-top: 1px solid #E4E2E2;
  padding: 20px;
}
.order-summary-body .item-o {
  padding: 0;
}
.order-summary-body .item-o:last-child {
  margin: 0;
}
.order-summary-body .value-g {
  color: #00B12A;
  font-weight: 600;
}

.order-summary-footer {
  border-top: 1px solid #E4E2E2;
  padding: 20px;
}
.order-summary-footer .item-o {
  padding: 0;
  margin: 0;
}

/*end step-done*/
#visa_type_ajax .custom-control-label {
  padding-right: 18px;
}
#visa_type_ajax .custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  right: -0.5rem;
}

.new-arrivals {
  padding: 0px 0;
}
.new-arrivals .filters .filters-titel {
  padding: 10px;
  background: #59d1b5;
  color: #fff;
  text-align: center;
}
.new-arrivals .filters .filters-titel span {
  font-weight: 600;
  text-transform: capitalize;
}

.filters-body {
  background: #fff;
  padding: 20px 15px 40px 15px;
}
.filters-body h6 {
  color: #342ea3;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.filters-body .card {
  border: 0;
  margin-bottom: 8px;
}
.filters-body .card-header {
  padding: 0;
  background: transparent;
  border: 0;
}
.filters-body .card-header .filter-ru {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
.filters-body .card-header .filter-ru span {
  color: #888888;
  font-size: 0.9rem;
}
.filters-body .card-body {
  padding-top: 5px;
}
.filters-body .card-body ul li {
  margin-bottom: 8px;
}
.filters-body .card-body ul li a {
  color: #888888;
}

.brands {
  padding-top: 10px;
  border-top: 1px solid #F3F3F3;
}
.brands ul li label {
  cursor: pointer;
  color: #888888;
}
.brands ul li label input {
  margin-left: 5px;
}

.itemrange {
  padding-top: 10px;
  border-top: 1px solid #F3F3F3;
}

/* color-c */
.color-c {
  padding-top: 10px;
  border-top: 1px solid #F3F3F3;
}
.color-c .item-color {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.color-c .item-color span {
  margin-bottom: 10px;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.color-c .item-color span.active::after {
  content: "";
  background: url(../../img/check-circle.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  right: -7px;
  background-size: cover;
}
.color-c .item-color .color1 {
  background: #D09D4B;
}
.color-c .item-color .color2 {
  background: #BEBEBE;
}

/* color-c */
/*start Apply Filters*/
.apply-filters {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.apply-filters button {
  border: 0;
  padding: 10px 30px;
  background: #59d1b5;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
  width: 100%;
}

.clear-filter {
  background: #E73C51 !important;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/*end Apply Filters*/
/*style rang */
section {
  float: left;
  width: 100%;
  padding-bottom: 3em;
}

h2 {
  color: #1a0e0e;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  text-transform: uppercase;
}

h2 span {
  display: block;
  padding: 0;
  font-size: 18px;
  opacity: 0.7;
  margin-top: 5px;
  text-transform: uppercase;
}

#float-right {
  float: right;
}

/* ******************************************************
	Script Top
*********************************************************/
.ScriptTop {
  background: #fff none repeat scroll 0 0;
  float: left;
  font-size: 0.69em;
  font-weight: 600;
  line-height: 2.2;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
  margin: 24px 0;
  padding: 0;
  text-align: left;
}

.ScriptTop li {
  list-style: none;
  display: inline-block;
}

.ScriptTop li a {
  background: #6a4aed none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 18px;
  text-decoration: none;
  text-transform: capitalize;
}

.ScriptTop li a:hover {
  background: #000;
  color: #fff;
}

/* ******************************************************
	Script Header
*********************************************************/
.ScriptHeader {
  float: left;
  width: 100%;
  padding: 2em 0;
}

.rt-heading {
  margin: 0 auto;
  text-align: center;
}

.ScriptHeader h1 {
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #6a4aed;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
}

.ScriptHeader h2 {
  color: #312c8f;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;
}

.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}

.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}

/* ******************************************************
	Live Demo
*********************************************************/
/* ******************************************************
	Responsive Grids
*********************************************************/
.rt-container {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.rt-row:before, .rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}

[class^=col-rt-] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}

@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }

  [class^=col-rt-] {
    float: left;
    width: 49.9999999999%;
  }

  .col-rt-6, .col-rt-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .rt-container {
    width: 1170px;
  }

  .col-rt-1 {
    width: 16.6%;
  }

  .col-rt-2 {
    width: 30.33%;
  }

  .col-rt-3 {
    width: 50%;
  }

  .col-rt-4 {
    width: 67.664%;
  }

  .col-rt-5 {
    width: 83.33%;
  }
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
  .ScriptTop h1, .ScriptTop ul {
    text-align: center;
  }

  .ScriptTop h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .ScriptTop ul {
    margin-top: 12px;
  }

  .ScriptHeader h1,
.ScriptHeader h2,
.scriptnav ul {
    text-align: center;
  }

  .scriptnav ul {
    margin-top: 12px;
  }

  #float-right {
    float: none;
  }
}
[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 80px 0 10px 0;
  margin-bottom: 20px;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 10px;
  border-radius: 10px;
  background-color: #F3F3F3;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 10px;
  border-radius: 10px;
  background-color: #F3F3F3;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 10px;
  border-radius: 10px;
  background-color: #F3F3F3;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 10 px;
  border-radius: 14px;
  background-color: #F3F3F3;
}

[slider] > div > [thumb] {
  cursor: pointer;
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 24px;
  width: 24px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  background-color: #59d1b5;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

.lef {
  right: 0;
}

.rig {
  left: 0;
}

[slider] > div > [sign] {
  opacity: 1;
  position: absolute;
  margin-left: -11px;
  top: -60px;
  z-index: 3;
  background-color: #F3F3F3;
  color: #fff;
  width: 78px;
  height: 38px;
  border-radius: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #E4E2E2;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: "";
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #59d1b5;
  display: none;
}

[slider] > div > [sign] > span {
  font-size: 15px;
  line-height: 38px;
  color: #342ea3;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

.to-value {
  position: absolute;
  top: -53px;
  left: 50%;
  text-transform: capitalize;
  transform: translateX(-50%);
}

/* start arrivals-body*/
.arrivals-body .arrivals-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.a-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.a-title h3 {
  color: #342ea3;
}
.a-title span {
  color: #888888;
  font-size: 0.9rem;
  margin: 0 5px;
}

.b-title span {
  color: #888888;
  font-size: 0.9rem;
  margin: 0 5px;
}
.b-title select {
  background: transparent;
  border: 0;
  color: #888888;
  font-weight: 600;
  outline: 0;
}

.results-items {
  margin: 25px 0;
}
.results-items .item-products {
  margin: 20px auto;
}

/* end arrivals-body*/
.wishlist {
  margin: 40px 0;
}
.wishlist h4 {
  color: #342ea3;
  text-align: center;
  margin-bottom: 30px;
}
.wishlist thead tr th {
  color: #888888;
  font-weight: 500;
}

.item-prod {
  display: flex;
}
.item-prod a {
  display: flex;
}
.item-prod > img {
  margin: 0 5px;
}
.item-prod .capt {
  display: flex;
  align-items: center;
}
.item-prod .capt img {
  margin: 0 5px;
  width: 70px;
  height: 70px;
}
.item-prod .capt .information {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.item-prod .capt .information span {
  color: #888888;
}

.avilable {
  font-weight: 600;
  color: #00B12A;
}

.button-tbale-sub img {
  width: 20px;
  margin-left: 10px;
}
.button-tbale-sub button {
  border: 0;
  background: #222222;
  color: #fff;
  padding: 6px 15px;
  border-radius: 8px;
}

/*start cart */
.quantity {
  display: flex;
  align-items: center;
  padding-top: 14px;
}
.quantity button {
  background: #342ea3;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 0;
}
.quantity span {
  width: 50px;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
}

.price {
  padding-top: 20px;
}
.price span {
  font-weight: 600;
  color: #888888;
}

.summary .button-bla {
  margin: 10px 0;
  padding: 0 20px;
}
.summary .button-bla button {
  padding: 8px 20px;
  width: 100%;
  font-weight: 600;
}

.my-account {
  margin: 40px 0;
}
.my-account ul li a {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 12px 30px;
  border-bottom: 1px solid #E4E2E2;
  transition: all 0.5s;
}
.my-account ul li a .icon svg {
  width: 30px;
  height: 30px;
  fill: #888888;
  transition: all 0.5s;
}
.my-account ul li a .text {
  font-size: 1rem;
  font-weight: 600;
  color: #888888;
  padding: 0 10px;
  text-transform: capitalize;
  transition: all 0.5s;
}
.my-account ul li.active a {
  background: #59d1b5;
}
.my-account ul li.active a .icon svg {
  fill: #fff;
}
.my-account ul li.active a .text {
  color: #fff;
}
.my-account ul li:hover a {
  background: #d1f2ea;
}
.my-account ul li:hover a .icon svg {
  fill: #342ea3;
}
.my-account ul li:hover a .text {
  color: #342ea3;
}

.content-myorder {
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 40px;
}

.cm-header {
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid #E4E2E2;
}
.cm-header .item-cm {
  margin-bottom: 8px;
}
.cm-header .item-cm span:nth-child(1) {
  color: #888888;
}
.cm-header .item-cm span:nth-child(2) {
  color: #342ea3;
  font-weight: 600;
}

.cm-body {
  padding: 20px 30px;
  border-bottom: 1px solid #E4E2E2;
}

.cm-prod {
  display: flex;
}

.cmp-img {
  width: 150px;
  height: 150px;
  border: 1px solid #342ea3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cmp-img img {
  width: 90px;
  height: 90px;
}

.cmp-text {
  margin: 0 15px;
}
.cmp-text h6 {
  font-weight: 600;
  color: #342ea3;
  margin-bottom: 10px;
}

.item-cm {
  margin-bottom: 8px;
}
.item-cm span:nth-child(1) {
  color: #888888;
}
.item-cm span:nth-child(2) {
  color: #342ea3;
  font-weight: 600;
}

.cm-rate {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.cm-rate span {
  color: #888888;
}

.cm-button {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.cm-button button {
  border: 0;
  background: #002222;
  color: #fff;
  padding: 10px 80px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cm-footer {
  padding: 20px 30px;
  background: #fff;
}
.cm-footer .button-bla button {
  padding: 10px 30px;
}

.wiz-step {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 10px auto;
  width: 100%;
  position: relative;
}
.wiz-step::after {
  content: "";
  display: block;
  width: 94%;
  height: 8px;
  position: absolute;
  background: #E4E2E2;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.wiz-step::before {
  content: "";
  display: block;
  width: 94%;
  height: 8px;
  position: absolute;
  background: #222222;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.wiz-step li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 8;
}
.wiz-step li img {
  width: 32px;
  margin-bottom: 8px;
}

.stap-2 li:nth-child(1) img:nth-child(3) {
  display: none;
}
.stap-2 li:nth-child(2) img:nth-child(2) {
  display: none;
}
.stap-2 li:nth-child(3) img:nth-child(3) {
  display: none;
}
.stap-2 li:nth-child(3) img:nth-child(2) {
  opacity: 0;
}
.stap-2::before {
  width: 47%;
  right: 0;
  transform: translateX(6%);
}

.stap-1 li:nth-child(1) img:nth-child(2) {
  display: none;
}
.stap-1 li:nth-child(2) img:nth-child(3) {
  display: none;
}
.stap-1 li:nth-child(3) img:nth-child(3) {
  display: none;
}
.stap-1::before {
  display: none;
  width: 47%;
  right: 0;
  transform: translateX(6%);
}

.title-locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title-locations h4 {
  font-weight: 600;
}
.title-locations button {
  background: #59d1b5;
  border-radius: 20px;
  padding: 8px 25px;
  border: 0;
  cursor: pointer;
}
.title-locations button img {
  height: 30px;
}

.right-loc {
  background: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 20px;
}

.right-loc-text {
  display: flex;
}
.right-loc-text img {
  width: 30px;
  height: 30px;
}

.rlt-d {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.rlt-d h6 {
  color: #342ea3;
  margin-bottom: 15px;
}
.rlt-d span {
  color: #888888;
  margin-bottom: 15px;
}

.right-loc-button button {
  border: 0;
  background: transparent;
}
.right-loc-button button img {
  margin: 0 5px;
}
.right-loc-button button span {
  font-weight: 600;
}

.create-ticket h4 {
  text-align: center;
  font-weight: 600;
  color: #342ea3;
  margin-bottom: 15px;
}
.create-ticket p {
  color: #888888;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.form-item-input textarea {
  min-height: 200px;
  background: #fff;
  border-radius: 4px;
  border: 0;
}
.form-item-input .b-login {
  margin: 20px 0 !important;
}

.file-upload {
  position: relative;
  height: 50px;
  background: #342ea3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.file-upload span {
  color: #fff;
  margin: 0 10px;
}
.file-upload input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 5;
  cursor: pointer;
  opacity: 0;
}

.error-m {
  padding: 15px 10px;
  color: #fff;
  background: #DC0707;
  margin-bottom: 15px;
}
.error-m span {
  font-weight: 600;
}

.m-successfully {
  text-align: center;
  padding: 30px 0;
}
.m-successfully img {
  margin-bottom: 20px;
}
.m-successfully h6 {
  font-weight: 600;
  color: #342ea3;
  text-align: center;
  margin-bottom: 15px;
}
.m-successfully p {
  color: #888888;
  margin-bottom: 15px;
}
.m-successfully .item-cm {
  margin-bottom: 25px;
}

.notification {
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  display: flex;
  margin-bottom: 20px;
}
.notification .not-img {
  width: 60px;
  height: 70px;
}
.notification .not-text {
  margin: 0 15px;
}
.notification .not-text h6 {
  font-weight: 600;
  color: #342ea3;
  margin-bottom: 15px;
}
.notification .not-text p {
  color: #888888;
  font-size: 0.8rem;
}

.notification-but {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.notification-but button {
  border-radius: 8px;
  border: 0;
  padding: 8px 20px;
  background: #59d1b5;
  cursor: pointer;
}
.notification-but button span {
  color: #342ea3;
}
.notification-but button img {
  margin: 0 5px;
}

.wallet-titel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.wallet-titel h4 {
  font-size: 20px;
  color: #342ea3;
  text-transform: capitalize;
}
.wallet-titel h4 span {
  color: #DC0707;
  font-weight: 600;
}

.wallet-body {
  background: #fff;
  border-radius: 10px;
}
.wallet-body thead tr {
  border: 0;
}
.wallet-body thead tr th {
  color: #888888;
  font-weight: 500;
}
.wallet-body tbody tr:nth-child(odd) {
  background: #FFFBE3;
}
.wallet-body tbody tr td {
  border: 0;
}

.t-date {
  display: flex;
  align-items: center;
}
.t-date span {
  color: #888888;
  margin: 0 10px;
  font-weight: 600;
}

.t-text {
  font-weight: 600;
  color: #342ea3;
}

.t-green {
  color: #00B12A;
  font-weight: 600;
}

.t-red {
  color: #DC0707;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .wiz-step li span {
    font-size: 10px;
  }
}
.int-modal {
  border: 0;
  border-radius: 20px;
}
.int-modal .modal-content {
  border-radius: 15px;
  min-height: 230px;
  position: relative;
  border: 0;
}
.int-modal .modal-content::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  left: 20px;
  display: block;
  top: 10px;
  background: url(../../../img/aft-back.svg) no-repeat;
  background-size: contain;
}
.int-modal .modal-content::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  display: block;
  bottom: 40px;
  background: url(../../../img/bef-back.svg) no-repeat;
  background-size: contain;
}
.int-modal .modal-header {
  border: 0;
  padding: 10px 15px;
}
.int-modal .modal-body {
  padding: 15px 50px;
}
.int-modal .close {
  opacity: 1;
  outline: 0;
}
.int-modal .close:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}
.int-modal .close img {
  width: 15px;
}

.rate-pop h4 {
  text-align: center;
  margin-bottom: 20px;
}
.rate-pop .item-reat {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.rate-pop .item-reat span {
  color: #888888;
  font-size: 1rem;
  text-transform: capitalize;
}

.star-rate {
  margin: 0 25px;
}
.star-rate ul {
  display: flex;
  align-items: center;
}
.star-rate ul li {
  margin: 0 2px;
  cursor: pointer;
}
.star-rate ul li svg {
  width: 20px;
  height: 20px;
  fill: #CDCDCD;
  transition: all 0.5s;
}
.star-rate ul li:hover svg {
  fill: #59d1b5;
  transform: scale(1.2);
}

.item-dis {
  display: flex;
  flex-direction: column;
}
.item-dis span {
  color: #888888;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.item-dis textarea {
  background: #F3F3F3;
  border: 0;
  border-radius: 10px;
  min-height: 180px;
  outline: 0;
  padding: 10px;
}

.burron-rate {
  margin: 20px 0;
}
.burron-rate button {
  border: 0;
  background: #59d1b5;
  outline: 0;
  padding: 10px;
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.pop-castume {
  text-align: center;
}
.pop-castume img {
  width: 100px;
  margin: 10px auto;
  margin-bottom: 20px;
}
.pop-castume h6 {
  color: #342ea3;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 20px;
}
.pop-castume p {
  font-size: 0.8rem;
  color: #888888;
  margin: 20px 0;
}

.success {
  background: #00B12A !important;
}

.closet {
  background: #DC0707 !important;
}

.infoo {
  background: #448AFF !important;
}

#exampleModal5 .modal-header {
  display: none;
}

#exampleModal4 .modal-header {
  display: none;
}

#exampleModal3 .modal-header {
  display: none;
}

#exampleModal2 .modal-header {
  display: none;
}

.product-c {
  padding: 15px;
  background: #fff;
  max-width: 450px;
  margin: auto;
}
.product-c .prod-dis {
  display: flex;
  flex-direction: row-reverse;
}
.product-c .prod-dis span {
  background: #fff3b2;
  font-size: 0.75rem;
  padding: 2px 7px;
  border-radius: 20px;
}

.prod-img {
  text-align: center;
}
.prod-img img {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.product .owl-nav button {
  width: 50px;
  height: 50px;
  background: #222222 !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 0.7;
}
.product .owl-prev {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.product .owl-prev img {
  width: 100%;
  height: 100%;
}
.product .owl-next {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.product .owl-next img {
  width: 100%;
  height: 100%;
}

.product-info h4 {
  color: #342ea3;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.s-title {
  color: #888888;
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.price-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.price-top .p-red {
  font-weight: 600;
  color: #DC0707;
  font-size: 1.1rem;
}
.price-top .old-p {
  font-weight: 600;
  color: #888888;
  margin: 0 8px;
  font-size: 1rem;
  text-decoration: line-through;
}

.prod-rate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.prod-rate ul {
  display: flex;
}
.prod-rate ul li {
  margin: 0 2px;
}
.prod-rate ul li svg {
  width: 15px;
  height: 15px;
  fill: #888888;
}
.prod-rate ul li.active svg {
  fill: #59d1b5;
}

.reat-count {
  color: #342ea3;
  font-weight: 600;
  margin: 0 5px;
}

.reat-t {
  color: #888888;
  margin: 0 10px;
}

.availabl {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
}
.availabl .nor-av {
  color: #888888;
  font-weight: 500;
}
.availabl .gr-av {
  margin: 0 5px;
  color: #00B12A;
  font-weight: bold;
}

.sold-out {
  color: #DC0707 !important;
}

.rate-discra {
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
}
.rate-discra h6 {
  font-weight: 600;
  color: #342ea3;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.rate-discra p {
  color: #888888;
  font-size: 0.9rem;
}

.rate-color h6 {
  font-weight: 600;
  color: #342ea3;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.color-span-reat {
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.color-span-reat span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin: 0 5px;
}

.rate-fot {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.rate-fot .quantity {
  padding-top: 0 !important;
}

.add-to-rate {
  margin: 0 10px;
}
.add-to-rate button {
  background: #59d1b5;
  border: 0;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.add-to-rate button img {
  width: 20px;
}
.add-to-rate button span {
  color: #fff;
  margin: 0 5px;
  font-weight: 600;
}

.rate-share {
  margin-top: 20px;
}
.rate-share ul {
  display: flex;
  align-items: center;
}
.rate-share ul li {
  cursor: pointer;
}
.rate-share ul li span {
  color: #342ea3;
  margin: 0 5px;
  text-transform: capitalize;
}
.rate-share ul li:not(:nth-child(1)) {
  margin: 0 10px;
}

.additional-info {
  margin: 40px 0;
}

.add-title {
  text-transform: capitalize;
  margin-bottom: 0;
  display: inline-block;
  border-bottom: 2px solid #59d1b5;
  color: #342ea3;
  padding-bottom: 10px;
  font-weight: 600;
}

.additional-body {
  background: #fff;
  padding: 35px 0;
}
.additional-body p {
  color: #888888;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.additional-body ul li {
  padding: 0 30px;
  color: #342ea3;
  margin-bottom: 10px;
  font-size: 0.9rem;
  position: relative;
}
.additional-body ul li::before {
  content: " ";
  width: 17px;
  height: 17px;
  display: block;
  background: #000;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../../img/check-y.svg) no-repeat;
  background-size: contain;
}

.dim {
  text-align: center;
  margin: 25px 0;
}
.dim img {
  max-height: 230px;
}

.weight-item {
  display: flex;
  align-items: center;
}
.weight-item span {
  width: 50%;
  height: 40px;
  line-height: 40px;
}
.weight-item .k {
  padding-right: 30px;
  font-weight: 600;
  color: #342ea3;
  border-left: 1px solid #E4E2E2;
}
.weight-item .v {
  color: #342ea3;
  padding-right: 30px;
}

.gr {
  background: #F3F3F3;
}

.reviews {
  margin-bottom: 20px;
}

.reviews-t {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.reviews-t .reviews-w {
  width: 120px;
  display: flex;
  flex-direction: column;
}
.reviews-t .reviews-w h6 {
  color: #342ea3;
  font-weight: 600;
}
.reviews-t .reviews-w span {
  color: #888888;
}

.reviews-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reviews-item ul {
  width: 120px;
  display: flex;
  align-items: center;
}
.reviews-item ul li {
  padding: 0;
  margin: 0;
}
.reviews-item ul li::before {
  display: none;
}
.reviews-item ul li.active svg {
  fill: #59d1b5;
}
.reviews-item ul li svg {
  fill: #D4D4D4;
  width: 15px;
  height: 15px;
}
.reviews-item > span {
  margin: 0 10px;
  color: #342ea3;
}

.prog {
  width: 200px;
  height: 15px;
  background: #D4D4D4;
  border-radius: 15px;
  overflow: hidden;
}
.prog span {
  height: 100%;
  display: block;
  background: #59d1b5;
  border-radius: 15px;
}

.person-rate {
  border-right: 2px solid #D4D4D4;
  padding-right: 50px;
}

.person-item {
  display: flex;
  flex-direction: column;
}
.person-item ul {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.person-item ul li {
  padding: 0;
  margin: 0 1px;
}
.person-item ul li::before {
  display: none;
}
.person-item ul li.active svg {
  fill: #59d1b5;
}
.person-item ul li svg {
  fill: #D4D4D4;
  width: 15px;
  height: 15px;
}
.person-item p {
  font-size: 0.9rem;
  color: #888888;
  margin-bottom: 10px;
}

.date-name {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888888;
}
.date-name .ne-d {
  color: #342ea3;
  font-weight: 600;
}
.date-name .ne-v {
  color: #888888;
  margin: 0 5px;
}

.drop-cart {
  visibility: hidden;
  padding: 10px;
  width: 400px;
  min-height: 280px;
  overflow-y: auto;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 4px 0px #9f9f9f;
  border-radius: 10px;
  top: 140%;
  z-index: 9999;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
}
.drop-cart .item-prod {
  margin-bottom: 10px;
  display: flex;
}
.drop-cart .item-prod > img {
  margin: 0 5px;
}
.drop-cart .item-prod .capt {
  display: flex;
  align-items: center;
  text-align: center;
}
.drop-cart .item-prod .capt img {
  margin: 0 0px;
  width: 60px;
  height: 60px;
}
.drop-cart .item-prod .capt .information {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.drop-cart .item-prod .capt .information span {
  color: #888888;
}

[dir=rtl] .information {
  text-align: right;
}

.img-c {
  width: 70px;
  height: 70px;
  padding: 5px;
  text-align: center;
  border: 1px solid #888888;
  margin: 0 3px;
}

.button-cart {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-cart button {
  width: 49%;
  display: block;
  height: 45px;
  background: #342ea3;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}
.button-cart .view-cart {
  width: 49%;
  display: block;
  height: 45px;
  background: #45cbac;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  text-align: center;
  line-height: 45px;
}

.nav-info ul li:hover > .drop-cart {
  visibility: visible;
  top: 150%;
  opacity: 1;
  transition: all 1s;
}

.gallery {
  display: flex;
  height: 300px;
  overflow: hidden;
}
.gallery .gallery-show {
  flex-grow: 1;
  background: #fff;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .gallery-nav {
  height: 100%;
  width: 100px;
  padding: 10px;
}

.item-nav {
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid #fff;
  height: calc(100% / 3 - 6px);
  text-align: center;
}
.item-nav img {
  height: 100%;
}

.select {
  border: 2px solid #FFEB3B;
}

.show-item {
  padding: 10px;
}
.show-item .prod-img {
  text-align: center;
}
.show-item .prod-img img {
  width: 220px;
  max-height: 200px;
}

.prod-dis {
  display: flex;
  flex-direction: row-reverse;
}
.prod-dis span {
  background: #fff3b2;
  font-size: 0.75rem;
  padding: 2px 7px;
  border-radius: 20px;
}

.add-to-rate .add_to_cart {
  border-radius: 50%;
  padding: 7px 8px;
  margin: unset;
  margin-bottom: 7px;
}
.add-to-rate .add_to_cart img {
  width: 20px !important;
  height: 20px !important;
}

.item-search {
  padding: 20px 0;
}
.item-search .nav-item-search {
  margin-left: 2vw;
}
.item-search .nav-item-search form {
  display: flex;
}
.item-search .nav-item-search form input {
  background: #ffffff;
  border: 0;
  height: 40px;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  flex-grow: 1;
  border: 1px solid #59d1b5;
}
.item-search .nav-item-search form input:focus {
  outline: 1px solid #59d1b5;
}
.item-search .nav-item-search form button {
  width: 45px;
  height: 40px;
  border: 0;
  background: #59d1b5;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.fild-number {
  position: relative;
}
.fild-number select {
  position: absolute;
  width: 70px;
  top: 39px;
  background: #59d1b5;
  left: 10px;
  height: 30px;
  color: #fff;
  padding: 0 5px;
}
.fild-number input {
  padding-right: 100px;
}

.promo-error {
  background: #DC0707 !important;
  margin: 0 20px;
  padding: 7px 10px;
  color: #fff;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.promo-info {
  background: #448AFF !important;
  margin: 0 20px;
  padding: 7px 10px;
  color: #fff;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.promo-sccsses {
  background: #00B12A !important;
  margin: 0 20px;
  padding: 7px 10px;
  color: #fff;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.shep-icon {
  display: flex;
}
.shep-icon img {
  margin: 0 5px;
}

.e-fild.fild-number select {
  top: 6px;
}

/*# sourceMappingURL=style.css.map */
